<h3>รายงานการเปลี่ยนช่าง</h3>
<hr>

<form (ngSubmit)="GetChangeBarberReport()">
  <div class="row">
    <div class="col-6 col-md-2">
      <nz-month-picker [(ngModel)]="today" id="today" name="today" nzPlaceHolder="เลือกเดือน" [nzFormat]="'MM/yyyy'"
        [nzAllowClear]="false">
      </nz-month-picker>
    </div>
    <div class="col-6 col-md-2">
      <nz-select  nzShowSearch nzPlaceHolder="เลือกสาขา" [(ngModel)]="Branch_id" id="Branch_id"
        name="Branch_id">
        <nz-option *ngFor="let data of Branchdata" [nzLabel]="data.name" [nzValue]="data.branch_id"></nz-option>
      </nz-select>
    </div>
    <div class="col-6 col-md-2">
      <button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon nzType="search"></i>ค้นหา</button>
    </div>
  </div>
</form>
<br>
<nz-table #Table [nzData]="ChangeBarberReportdata" [nzBordered]="true" *ngIf="ChangeBarberReportdata?.length>0">
  <thead>
    <tr>
      <th class="text-center">วันที่</th>
      <th class="text-center">บริการ</th>
      <th class="text-center">ชื่อช่างคนเดิม</th>
      <th class="text-center">ชื่อช่างที่เปลี่ยน</th>
      <th class="text-center">สาเหตุการเปลี่ยน</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of Table.data">
      <td class="text-center"><span>{{data.queue_dt | date:'dd-MM-yyyy'}}</span></td>
      <td class="text-center"><span>{{data.service_id}}</span></td>
      <td class="text-center"><span>{{data.nickOld}}</span></td>
      <td class="text-center"><span>{{data.NickNews}}</span></td>
      <td class="text-center"><span>{{data.detail_change_ber}}</span></td>
    </tr>
  </tbody>
</nz-table>