<h3>สรุปงานของช่างรายวัน</h3>
<hr>
<div nz-row>
    <form (ngSubmit)="TimeAndJobBarber()">

        <div class="row">
            <div class="col-6 col-md-2">
                <nz-date-picker [(ngModel)]="today" [nzAllowClear]="false" id="today" name="today"
                    [nzFormat]="'dd-MM-yyyy'"></nz-date-picker>
            </div>
            <div class="col-6 col-md-2">
                <nz-select nzShowSearch nzPlaceHolder="เลือกสาขา" [(ngModel)]="Branch_id" id="Branch_id"
                    name="Branch_id" (ngModelChange)="GetBarber(Branch_id)">
                    <nz-option *ngFor="let data of Branchdata" [nzLabel]="data.name" [nzValue]="data.branch_id">
                    </nz-option>
                </nz-select>
            </div>
            <div class="col-6 col-md-2">
                <nz-select nzShowSearch nzPlaceHolder="เลือกช่าง" [(ngModel)]="username" id="username" name="username"
                    [nzDisabled]="Barberdisabled">
                    <nz-option *ngFor="let data of Barberdata" [nzLabel]="data.nickname" [nzValue]="data.username">
                    </nz-option>
                </nz-select>
            </div>
            <div class="col-6 col-md-2"><button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                        nzType="search"></i>ค้นหา</button></div>
        </div>
    </form>
</div>
<br>
<nz-table #Table [nzData]="JobBarberdata" [nzBordered]="true" [nzShowPagination]="false" *ngIf="Check==true">
    <thead>
        <tr>
            <th class="text-center" nzWidth="20%">เวลาเริ่ม</th>
            <th class="text-center" nzWidth="20%">สิ้นสุด</th>
            <th class="text-center">บริการ</th>
            <th class="text-right" nzWidth="10%">จำนวนเงิน</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of Table.data">
            <td class="text-center"><span>{{data?.start_dt.substring(0, 5)}} น.</span></td>
            <td class="text-center"><span>{{data?.finish_dt.substring(0, 5)}} น.</span></td>
            <td class="text-center"><span>{{data?.service_id}}</span></td>
            <td class="text-right"><span>{{data?.money.toLocaleString('en-us', {minimumFractionDigits: 0})}} บาท</span></td>
        </tr>
        <tr *ngIf="totalmoney!=undefined">
            <td class="text-center" colspan="3" style="background:#fafafa"><span>รายได้รวมของวันนี้</span></td>
            <td class="text-right" style="background:#fafafa"><span>{{totalmoney}} บาท</span></td>
        </tr>
    </tbody>
</nz-table>