[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }



  .img-resize {
    width: 50 ;
    height: 50px;
    overflow: hidden;
    text-align: center;
    }

    .btnn{
      border: 2px solid rgb(17, 0, 255);
      background: none;
      border-radius: 20px;
      padding: 5px 20px;
      transition: 0.5s;
      cursor: pointer;
      width: 150px;
      height: 60px;
      font-size: large;
  }
  .btnn:hover{
      background: rgb(0, 0, 0);
      color: white;
  }