<div class="container-fluid">
        <h3>ข้อมูลรายละเอียดสาขา</h3>
        <hr>
    <div nz-row>
        <div nz-col nzSpan="7"></div>
        <div nz-col nzSpan="10" style="border-style: double;">
            <nz-carousel [nzEffect]="'fade'" nzAutoPlay>
                <div nz-carousel-content *ngFor="let index of array" style="width:600px;height: 400px;">
                    <img width="100%" height="100%" src="{{ index }}">
                </div>
            </nz-carousel>
        </div>
        <div nz-col nzSpan="7"></div>
    </div>
    <div nz-row style="margin-top: 30px">
        <div nz-col nzSpan="2"></div>
        <div nz-col nzSpan="20">
            <nz-descriptions nzBordered>
                <nz-descriptions-item nzTitle="สาขา"><span>{{BranchData[0].name}}</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="ผู้จัดการสาขา" [nzSpan]="3">
                <span>{{BranchData[0].firstname}} {{BranchData[0].lastname}}</span>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="รายละเอียดร้าน" [nzSpan]="5"><span>{{BranchData[0].detail}}</span>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="ที่อยู่"><span>{{BranchData[0].address}}</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="ตำบล"[nzSpan]="3"><span>{{BranchData[0]?.district_name}}</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="อำเภอ"><span>{{BranchData[0].amphur_name}}</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="จังหวัด" [nzSpan]="3"><span>{{BranchData[0].province_name}}</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="รหัสไปรษณีย์" [nzSpan]="3"><span>{{BranchData[0].zipcode}}</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="สถานะ"[nzSpan]="3" *ngIf="BranchData[0].status==='N'" ><nz-tag [nzColor]="'red'"><span>ปิดบริการ</span></nz-tag></nz-descriptions-item>
                <nz-descriptions-item nzTitle="สถานะ"[nzSpan]="3" *ngIf="BranchData[0].status==='Y'" > <nz-tag [nzColor]="'green'"><span>เปิดบริการ</span></nz-tag></nz-descriptions-item>
                <nz-descriptions-item nzTitle="แผนที่" [nzSpan]="5">
                    <div>
                        <a href="{{BranchData[0].location}}"  target="_blank">
                            <img src="{{BranchData[0].map_img}}" width="400px" height="400px">
                        </a>
                    </div>
                </nz-descriptions-item>
            </nz-descriptions>
            <div class="text-right">
                <button nz-button onClick="history.back()" nzType="dashed" style="margin: 10px;" >ย้อนหลับ</button>
            </div>
        </div>
        <div nz-col nzSpan="2"></div>
    </div>
</div>