<h3>ข้อมูลรายละเอียดบริการ</h3>
<hr>
<div class="container-fluid">
    <div nz-row>
        <div nz-col nzSpan="7"></div>
        <div nz-col nzSpan="10" style="border-style: double;">
            <nz-carousel [nzEffect]="'fade'" nzAutoPlay>
                <div nz-carousel-content *ngFor="let index of array" style="width:600px;height: 400px;">
                    <img width="100%" height="100%" src="{{ index }}">
                </div>
            </nz-carousel>
        </div>
        <div nz-col nzSpan="7"></div>
    </div>
    <div nz-row style="margin-top: 30px">
        <div nz-col nzSpan="5"></div>
        <div nz-col nzSpan="14">
            <nz-descriptions nzBordered>
                <nz-descriptions-item nzTitle="ชื่อบริการ" [nzSpan]="3"><span> {{ServiceDatadetail[0].name}}</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="ประเภท" *ngIf="ServiceDatadetail[0].type==0" [nzSpan]="3"><span>ทำผม</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="ประเภท" *ngIf="ServiceDatadetail[0].type==1" [nzSpan]="3"><span>ทำเล็บ</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="ประเภท" *ngIf="ServiceDatadetail[0].type==2" [nzSpan]="3"><span>ทำหน้า</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="เวลาในการทำบริการ" [nzSpan]="5"><span>{{ ServiceDatadetail[0].take_time}} ชม.</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="ราคา" [nzSpan]="3"><span>{{ ServiceDatadetail[0].service_charge.toLocaleString('en-us', {minimumFractionDigits: 0})}} บาท</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="แต้มที่ได้รับเมื่อใช้บริการ" [nzSpan]="3"><span>{{ ServiceDatadetail[0].point}} คะแนน</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="รายละเอียด"><span>{{ ServiceDatadetail[0].detail}}</span></nz-descriptions-item>
            </nz-descriptions>
            <div class="text-right">
                    <button nz-button onClick="history.back()" nzType="dashed" style="margin: 10px;" >ย้อนหลับ</button>
                </div>
        </div>
        <div nz-col nzSpan="5"></div>
    </div>
</div>