<nz-table #Table [nzData]="QueueDetaildata" [nzFrontPagination]='false' [nzBordered]='true'>
    <thead>
        <tr>
            <th class="text-center">บริการ</th>
            <th class="text-center">ช่างผู้ให้บริการ</th>
            <th class="text-center">เวลา</th>
            <th class="text-center">กิจกรรม</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of Table.data">
            <td class="text-center">{{data.service_id}}</td>
            <td class="text-center">{{data.Nickname1}}</td>
            <td class="text-center">{{data.start_dt.substring(0,5)}}-{{data.finish_dt.substring(0,5)}}น.</td>
            <td class="text-center">
                <span nz-text *ngIf="data.change_ber != null"><mark>เปลี่ยนเป็นช่าง {{data.Nickname2}}</mark></span>
                <i nz-icon nzType="user" nz-tooltip nzTitle="เปลี่ยนช่าง" class="icon" nzTheme="outline"
                    *ngIf="data.change_ber == null" (click)="openModal(data)" class="icon"
                    style="color: rgb(255, 174, 0)"></i>
            </td>

        </tr>
    </tbody>
</nz-table>