<nz-table #Table [nzData]="QueueDetaildata" [nzFrontPagination]='false' [nzBordered]="true">
    <thead>
        <tr>
            <th class="text-center">บริการ</th>
            <th class="text-center">ช่างผู้ให้บริการ</th>
            <th class="text-center">เวลาเริ่ม</th>
            <th class="text-center">เวลาสิ้นสุด</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of Table.data let i = index">
            <td class="text-center"><span>{{data.service_id}}</span></td>
            <td class="text-center"><span>{{data.Nickname1}}</span></td>
            <td class="text-center"><span>{{data.start_dt.substring(0,5)}}น.</span></td>
            <td class="text-center"><span>{{data.finish_dt.substring(0,5)}}น.</span></td>
        </tr>
    </tbody>
</nz-table>
