<form nz-form>
    <nz-select style="width: 200px;" name="HomeType" id="HomeType" [(ngModel)]="HomeType" (ngModelChange)="Reset()">
        <nz-option nzLabel="หัวข้อ" nzValue="0"></nz-option>
        <nz-option nzLabel="ย่อหน้า" nzValue="1"></nz-option>
        <nz-option nzLabel="รูปภาพ" nzValue="2"></nz-option>
    </nz-select>
    <hr>
    <div >
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="about_id" nzRequired><span>ลำดับ</span></nz-form-label>
            <nz-form-control [nzSpan]="5">
                <nz-input-number nzPlaceHolder="ใส่ลำดับ" [(ngModel)]="about_id" name="about_id" id="about_id" [nzMin]="1" [nzMax]="100" [nzStep]="1">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
    </div>
    <nz-form-item *ngIf="HomeType == 0">
        <nz-form-label [nzSpan]="6" nzFor="Title" nzRequired><span>หัวข้อ</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input placeholder="กรุณาใส่หัวข้อ"  maxlength="50" [(ngModel)]="Title" name="Title" id="Title">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="HomeType == 1">
        <nz-form-label [nzSpan]="6" nzFor="detail"nzRequired><span>ย่อหน้า</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <textarea rows="4" nz-input name="detail"  id="detail" [(ngModel)]="detail" placeholder="เนื้อหา"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="HomeType == 2">
            <nz-form-label [nzSpan]="6" nzRequired><span>รูปภาพ</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card"
            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" [nzShowUploadList]="showUploadList"
            [nzPreview]="handlePreview">
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">เพิ่มรูปภาพ</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
            <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
        </nz-modal>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired><span>สถานะ</span></nz-form-label>
        <nz-form-control [nzSm]="14">
            <label nz-checkbox name="ActiveCheckbox" [(ngModel)]="ActiveCheckbox">
                <span>แสดงข้อมูล</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>