<form nz-form [formGroup]="ChangePasswordForm" (ngSubmit)="ConfirmChangePassword()">
    <nz-form-item>
        <nz-form-label [nzSpan]="9" style="text-align: center;" >ไอดีผู้ใช้งาน</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <label >{{USER.username}}</label>
        </nz-form-control>
      </nz-form-item >
    <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="9" style="text-align: center;"><span>รหัสผ่านเก่า</span></nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="กรุณาใส่รหัสผ่านเก่า!">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input formControlName="OldPassword" placeholder="OldPassword" type="password">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="9" style="text-align: center;"><span>รหัสผ่านใหม่</span></nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="กรุณาใส่รหัสผ่านใหม่!">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input type="password" formControlName="NewPassword" placeholder="NewPassword">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired [nzSpan]="9" style="text-align: center;"><span>ยืนยันรหัสผ่านใหม่</span></nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="กรุณาใส่ยืนยันรหัสผ่านใหม่!">
            <nz-input-group nzPrefixIcon="lock">
                <input nz-input type="password" formControlName="ConfirmNewPassword" placeholder="ConfirmNewPassword">
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button class="login-form-button"  [nzType]="'primary'">ยืนยันการเปลี่ยน</button>
        </nz-form-control>
    </nz-form-item>
</form>