<h3>ข้อมูลรายละเอียดช่างเสริมสวย</h3>
<hr>
<div nz-row>
        <div nz-col nzSpan="5">
                <div style="border-style: solid;margin: 25px 25px 25px 10px">
                        <img style="padding:5px;" src="{{DetailBarber?.img_profile}}" width="100%" height="100%">
                </div>
                <div class="text-center">
                        <nz-tag [nzColor]="'green'"
                                *ngIf="StatusCheckWork!=0 && StatusCheckWorkcome !=null && StatusCheckWorkAwol==0">
                                <span>มาแล้ว</span></nz-tag>
                        <nz-tag [nzColor]="'orange'" *ngIf="StatusCheckWork==0 || StatusCheckWorkcome ==null">
                                <span>ยังไม่มา</span>
                        </nz-tag>
                        <nz-tag [nzColor]="'red'" *ngIf="StatusCheckWorkAwol==1 "><span>ขาดงาน</span></nz-tag>
                </div>
        </div>
        <div nz-col nzSpan="12">
                <div style="margin: 25px;">
                        <nz-descriptions nzBordered>
                                <nz-descriptions-item nzTitle="ชื่อ" [nzSpan]="2">
                                        <span>{{DetailBarber?.firstname}}</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="นามสกุล" [nzSpan]="2">
                                        <span>{{DetailBarber?.lastname}}</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="เพศ" [nzSpan]="3" *ngIf="DetailBarber?.gender==0">
                                        <span>ชาย</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="เพศ" [nzSpan]="3" *ngIf="DetailBarber?.gender==1">
                                        <span>หญิง</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="ชื่อเล่น" [nzSpan]="3">
                                        <span>{{DetailBarber?.nickname}}</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="วันเกิด" [nzSpan]="3"><span>
                                                {{DetailBarber?.date_of_birth | date:'dd-MM-yyyy' }}</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="เบอร์โทร" [nzSpan]="3">
                                        <span>{{DetailBarber?.phone_number}}</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="อีเมล" [nzSpan]="3"><span>{{DetailBarber?.Email}}</span>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="ระดับช่าง" [nzSpan]="3">
                                        <nz-tag [nzColor]="'geekblue'"
                                                *ngIf="DetailBarber?.level_barbername==='ช่างสระ'"><span>ช่างสระ</span>
                                        </nz-tag>
                                        <nz-tag [nzColor]="'purple'" *ngIf="DetailBarber?.level_barbername==='ช่างซอย'">
                                                <span>ช่างซอย</span></nz-tag>
                                </nz-descriptions-item>
                                <nz-descriptions-item nzTitle="ทักษะ" [nzSpan]="3">
                                        <nz-tag style="margin: 5px" *ngFor="let data of Skillhairdata"
                                                [nzColor]="'#528B8B'"><span>{{data.service_name}}</span></nz-tag>
                                        <nz-tag style="margin: 5px" *ngFor="let data of Skillnaildata"
                                                [nzColor]="'#A0522D'"><span>{{data.service_name}}</span></nz-tag>
                                        <nz-tag style="margin: 5px" *ngFor="let data of Skillfacedata"
                                                [nzColor]="'#8B7500'"><span>{{data.service_name}}</span></nz-tag>
                                </nz-descriptions-item>

                        </nz-descriptions>
                        <div class="text-right">
                                <button nz-button onClick="history.back()" nzType="dashed"
                                        style="margin: 10px;">ย้อนหลับ</button>
                        </div>
                </div>
        </div>
</div>