<div class="container-fluid">
    <h3>ผู้ใช้งานในระบบ</h3>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21">
            <form nz-form (ngSubmit)="search()">
                    <div class="row">
                            <div class="col-6 col-md-2">
                                    <input nz-input [(ngModel)]="criterianameUser" maxlength="10" name="criterianameUser" id="criterianameUser"
                                    placeholder="ชื่อผู้ใช้งาน"  />
                            </div>
                            <div class="col-6 col-md-2">
                                    <nz-select  [(ngModel)]="selectedtype" name="selectedtype" id="selectedtype"
                                    nzPlaceHolder="Choose">
                                    <nz-option nzValue="" nzLabel="ทั้งหมด"></nz-option>
                                    <nz-option nzValue="0" nzLabel="เจ้าของร้าน"></nz-option>
                                    <nz-option nzValue="1" nzLabel="ผู้จัดการสาขา"></nz-option>
                                    <nz-option nzValue="2" nzLabel="ช่างสระ"></nz-option>
                                    <nz-option nzValue="3" nzLabel="ช่างซอย"></nz-option>
                                    <nz-option nzValue="4" nzLabel="ลูกค้า"></nz-option>
                                </nz-select>
                            </div>
                            <div class="col-6 col-md-2">
                                    <button nz-button nzType="primary"><i class="icon-center" nz-icon nzType="search"></i>ค้นหา</button>
                            </div>
                          </div>
            </form>
        </div>
        <div nz-col nzSpan="3" style="text-align:right">
            <button nz-button nzType="default" (click)="openModal('new',{})">
                <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
            </button>
        </div>
        <br>
        <br>
    </div>

    <div class="row">
        <nz-table #showlistuserTable [nzData]="showlistuser" style="width: 100%" [nzBordered]="true"
            [nzLoading]="isLoading" *ngIf="showlistuser.length>0">
            <thead>
                <tr>
                    <th class="text-center">ชื่อ-นามสกุล</th>
                    <th class="text-center">ระดับ</th>
                    <th class="text-center" >สถานะให้เข้าสู่ระบบ</th>
                    <th class="text-center">สถานะ</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of showlistuserTable.data">
                    <td class="text-center"><span>{{list.firstname}} {{list.lastname}}</span></td>
                    <td class="text-center" *ngIf="list.level_barberid == 0" style="color: #C71585"><span>เจ้าของร้าน</span></td>
                    <td class="text-center" *ngIf="list.level_barberid == 1" style="color: #ECAB53"><span>ผู้จัดการสาขา</span></td>
                    <td class="text-center" *ngIf="list.level_barberid == 2" style="color: #EE4000"><span>ช่างสระ</span></td>
                    <td class="text-center" *ngIf="list.level_barberid == 3" style="color: #CD5555"><span>ช่างซอย</span></td>
                    <td class="text-center" *ngIf="list.level_barberid == 4" style="color: #008080"><span>ลูกค้า</span></td>
                    <td [nzAlign]="'center'">
                        <div *ngIf="list.status === 'Y'">
                            <div class="icons-list">
                                <i nz-icon [type]="'check-circle'" [theme]="'twotone'" [twoToneColor]="'#52c41a'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                        <div *ngIf="list.status === 'N'">
                            <div class="icons-list">
                                <i nz-icon [type]="'close-circle'" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                    </td>
                    <td [nzAlign]="'center'">
                        <div *ngIf="list.active === 'Y'">
                            <div class="icons-list">
                                <i nz-icon [type]="'check-circle'" [theme]="'twotone'" [twoToneColor]="'#52c41a'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                        <div *ngIf="list.active === 'N'">
                            <div class="icons-list">
                                <i nz-icon [type]="'close-circle'" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip *ngIf="list.level_barberid ==2 || list.level_barberid ==3"
                            nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                            [routerLink]="['../../BarberDetail',list.username]"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon" style="color: green"
                            (click)="openModal('edit',list)" [theme]="'outline'"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'" (click)="deleteUser(list)"
                            [theme]="'twotone'" [twoToneColor]="'#f70c0c'"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>