<form nz-form>
    <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name" ><span>รูปภาพ</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card"
            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 10" [nzShowUploadList]="showUploadList"
            [nzPreview]="handlePreview">
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">เพิ่มรูปภาพ</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
            <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
        </nz-modal>
    </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="typeComponent === 'new'">
        <nz-form-label [nzSpan]="6" nzFor="name" nzRequired><span>ชื่อบริการ</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input name="name" id="name" maxlength="50" [(ngModel)]="name" placeholder="ชื่อบริการ">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="typeComponent === 'edit'">
            <nz-form-label [nzSpan]="6" nzFor="name" nzRequired><span>ชื่อบริการ</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input name="name" id="name" maxlength="50" [disabled]="true" [(ngModel)]="name" placeholder="ชื่อบริการ">
            </nz-form-control>
        </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="type" nzRequired><span>ประเภท</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select [(ngModel)]="Servicetype" name="Servicetype" id="Servicetype" nzPlaceHolder="ประเภท">
                <nz-option nzValue="0" nzLabel="บริการทำผม"></nz-option>
                <nz-option nzValue="1" nzLabel="บริการทำเล็บ"></nz-option>
                <nz-option nzValue="2" nzLabel="บริการทำหน้า"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="take_time" nzRequired><span>เวลาที่ใช้(ชั่วโมง)</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-input-number name="take_time" id="take_time" [(ngModel)]="take_time" [nzMin]="1" [nzMax]="8" [nzStep]="1" nzPlaceHolder="เวลาที่ใช้"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="detail" nzRequired><span>เนื้อหา</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <textarea rows="4" nz-input name="detail" id="detail" maxlength="300" [(ngModel)]="detail" placeholder="เนื้อหา"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="service_charge" nzRequired><span>ราคา(บาท)</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
                <nz-input-number
                style="width: 100px"
                [(ngModel)]="service_charge"
                name="service_charge" 
                id="service_charge"
                [nzMin]="100"
                [nzMax]="10000"
                [nzStep]="100"
                nzPlaceHolder="ค่าบริการ"
              ></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="point" nzRequired><span>คะแนนที่ได้</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-input-number name="point" id="point" [(ngModel)]="point" [nzMin]="0" [nzMax]="5" [nzStep]="1" nzPlaceHolder="คะแนน"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="level_barber" nzRequired><span>ระดับของช่าง</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select [(ngModel)]="ServiceBarberLV" name="ServiceBarberLV" id="ServiceBarberLV"
                nzPlaceHolder="ระดับของช่าง">
                <nz-option nzValue="2" nzLabel="ช่างสระ"></nz-option>
                <nz-option nzValue="3" nzLabel="ซ่างซอย"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired><span>สถานะ</span></nz-form-label>
        <nz-form-control [nzSm]="14">
            <label nz-checkbox name="ActiveCheckbox" [(ngModel)]="ActiveCheckbox">
                <span>แสดงข้อมูล</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>