<p><img src="../assets/image/tex).gif" alt="logo"style="margin-left: 300px;"></p>
<p><img src="../assets/image/text.gif" alt="logo"style="margin-left: 400px;"></p>
<p style="margin-left: 350px;">ไม่พบหน้าที่ร้องขอ กรุณากลับหน้าหลัก !!!</p>
<div class="sidebar-logo"style="margin-left: 420px;">
        <a routerLink=""> กลับสู่หน้าหลัก</a>
</div>
