<div class="container-fluid">
    <h3>จัดการข้อมูลประชาสัมพันธ์</h3>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21">
            <form (ngSubmit)="search()">
                <div class="row">
                    <div class="col-6 col-md-2">
                        <nz-date-picker nzFormat="yyyy-MM-dd" name="criteriaDate" id="criteriaDate"
                            [(ngModel)]="criteriaDate" nzPlaceHolder="วันที่" [nzAllowClear]='true'></nz-date-picker>
                    </div>
                    <div class="col-6 col-md-2">
                        <input nz-input [(ngModel)]="criteriaTitle" name="criteriaTitle" id="criteriaTitle"
                            placeholder="หัวข้อ" />
                    </div>
                    <div class="col-6 col-md-2">
                        <nz-select [(ngModel)]="selectedtype" name="selectedtype" id="selectedtype"
                            nzPlaceHolder="Choose">
                            <nz-option nzValue="0" nzLabel="ข่าวสาร"></nz-option>
                            <nz-option nzValue="1" nzLabel="โปรโมชั่น"></nz-option>
                            <nz-option nzValue="" nzLabel="ประเภททั้งหมด"></nz-option>
                        </nz-select>
                    </div>
                    <div class="col-6 col-md-2">
                        <button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                                nzType="search"></i>ค้นหา</button>
                    </div>
                </div>
            </form>
        </div>
        <div nz-col nzSpan="3" style="text-align:right">
            <button nz-button nzType="default" (click)="openModal('new',{})">
                <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
            </button>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <nz-table #NewsDataTable [nzData]="NewsData" style="width: 100%" [nzBordered]="true" *ngIf="NewsData.length>0">
            <thead>
                <tr>
                    <th class="text-center" nzWidth="20%">หัวข้อ</th>
                    <th class="text-center" nzWidth="20%">เนื้อหา</th>
                    <th class="text-center">วันที่ลงข่าว</th>
                    <th class="text-center">ประเภท</th>
                    <th class="text-center">สถานะ</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of NewsDataTable.data">
                    <td class="text-center">
                        <div
                            style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                            <span>{{list.title}}</span></div>
                    </td>
                    <td class="text-center">
                        <div
                            style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                        <span>{{list.detail}}</span></div>
                    </td>
                    <td class="text-center"><span>{{list.create_dt | date:"dd-MM-yyyy"}}</span></td>
                    <td class="text-center" *ngIf="list.type == 0" style="color: #3366CC"><span>ข่าวสาร</span></td>
                    <td class="text-center" *ngIf="list.type == 1" style="color: #FF9900"><span>โปรโมชั่น</span></td>
                    <td [nzAlign]="'center'">
                        <div *ngIf="list.active === 'Y'">
                            <div class="icons-list">
                                <i nz-icon [type]="'check-circle'" [theme]="'twotone'" [twoToneColor]="'#52c41a'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                        <div *ngIf="list.active === 'N'">
                            <div class="icons-list">
                                <i nz-icon [type]="'close-circle'" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                            [routerLink]="['../../InformationDetail',list.news_id]"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon" style="color: green"
                            (click)="openModal('edit',list)" [theme]="'outline'"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'"
                            (click)="deleteInformation(list)" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>