<div class="container-fluid">
        <h3>จัดการข้อมูลสาขา</h3>
        <hr>
    <div class="row">
        <div nz-col nzSpan="21">
            <form (ngSubmit)="sharch()">
                <div nz-col nzSpan="5">
                    <input nz-input [(ngModel)]="criteriaNameBranch" name="criteriaNameBranch" id="criteriaNameBranch"
                        placeholder="กรุณาใส่ชื่อสาขา" style="width: 95%" />
                </div>
                <div nz-col nzSpan="2">
                    <button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                            nzType="search"></i>ค้นหา</button>
                </div>
            </form>
        </div>
        <div nz-col nzSpan="3" style="text-align:right">
            <span style="color: crimson;" *ngIf="BranchData.length==10" > *เพิ่มสาขาสูงสุด 10 สาขา</span>
            <button nz-button nzType="default" (click)="openModal('new',{})" *ngIf="BranchData.length<10">
                <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
            </button>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <nz-table #BranchDataTable [nzData]="BranchData" style="width: 100%" [nzBordered]="true" *ngIf="BranchData.length>0">
            <thead>
                <tr>
                    <th class="text-center">ชื่อสาขา</th>
                    <th class="text-center">ผู้จัดการสาขา</th>
                    <th class="text-center">สถานะร้าน</th>
                    <th class="text-center" nzWidth="20%">รายละเอียดร้าน</th>
                    <th class="text-center" nzWidth="20%">ที่อยู่</th>
                    <th class="text-center">สถานะ</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of BranchDataTable.data">
                    <td class="text-center"><span>{{list.name}}</span></td>
                    <td class="text-center"><span>{{list.nickname}}</span></td>
                    <td class="text-center" style="color: rgb(24, 223, 6);" *ngIf="list.status == 'Y'"><span>เปิดร้าน</span></td>
                    <td class="text-center" style="color: rgb(233, 3, 3);" *ngIf="list.status == 'N'"><span>ปิดร้าน</span></td>
                    <td class="text-center">
                        <div
                            style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                        <span>{{list.detail}}</span></div>
                    </td>
                    <td class="text-center">
                        <div style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                            <span>{{list.address}} 
                            ตำบล: {{list.district_name}} 
                            อำเภอ: {{list.amphur_name}} 
                            จังหวัด: {{list.province_name}} 
                            รหัสไปรษณีย์: {{list.zipcode}} </span>
                        </div>
                    </td>
                    <td [nzAlign]="'center'">
                        <div *ngIf="list.active === 'Y'">
                            <div class="icons-list">
                                <i nz-icon [type]="'check-circle'" [theme]="'twotone'" [twoToneColor]="'#52c41a'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                        <div *ngIf="list.active === 'N'">
                            <div class="icons-list">
                                <i nz-icon [type]="'close-circle'" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                            [routerLink]="['../../BranchDetail',list.branch_id]" ></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon" style="color: green"
                            (click)="openModal('edit',list)" [theme]="'outline'"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'" (click)="deleteBranch(list)"
                            [theme]="'twotone'" [twoToneColor]="'#f70c0c'"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>