<!-- <p>from-barber-expenses works!</p> -->
<form nz-form>
    <div>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>ชื่อช่าง</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select [(ngModel)]="username" name="username" id="username" nzPlaceHolder="กรุณาเลือกช่าง"
                    >
                    <nz-option *ngFor="let data of ShowListEspensrs" [nzValue]="data.username"
                    nzLabel="{{data.firstname}} {{data.lastname}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor=""nzRequired><span>รายการ</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select [(ngModel)]="type" name="type" id="type" nzPlaceHolder="เลือกประเภท"
                     >
                    <nz-option [nzValue]="0" nzLabel="เคมี"></nz-option>
                    <nz-option [nzValue]="1" nzLabel="อุปกรณ์"></nz-option>
                    <nz-option [nzValue]="2" nzLabel="ค่าห้อง"></nz-option>
                    <nz-option [nzValue]="3" nzLabel="ประกันร้าน"></nz-option>
                </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor=""nzRequired><span>จำนวนเงิน</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-input-number [(ngModel)]="money" nzPlaceHolder="จำนวนเงิน" [nzMax]="100000"   id="money" name="money" [nzMin]="0"  [nzStep]="100"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="" ><span>รายละเอียด</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
                <textarea rows="4" placeholder="รายละเอียด" nz-input name="Detail"  maxlength="150" id="Detail" [(ngModel)]="Detail"></textarea>
        </nz-form-control>
    </nz-form-item>
</form>