<form nz-form>
        <div>
            <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>ชื่อช่าง</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                        <input nz-input [(ngModel)]="Barbername" name="Barbername" id="Barbername"  [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div>
            <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor=""nzRequired><span>ประเภทการลา</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                        <input nz-input [(ngModel)]="Type" name="Type" id="Type"  [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="detail"nzRequired><span>รายละเอียด</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <textarea rows="4" [disabled]="true" nz-input maxlength="150" name="detail" id="detail" [(ngModel)]="detail" ></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="detail"nzRequired><span>วัน</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                        <nz-range-picker  [disabled]="true"[(ngModel)]="Date" name="Date" id="Date" [nzFormat]="'dd-MM-yyyy'"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>
        
        <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="detail"nzRequired><span>จำนวนวัน</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                        <nz-input-number [disabled]="true" [(ngModel)]="total_day" name="total_day" id="total_day"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
       
    </form>
    
