<div class="contaner-fluid">
    <h3>โปรโมชั่น</h3>
    <hr>
    <nz-table #PromotionsDataTable [nzData]="PromotionsData" style="overflow-y: auto" [nzLoading]="isLoading" [nzPageSize]="4" style="overflow-x: hidden">
        <tbody>
            <tr *ngFor="let list of PromotionsDataTable.data" class="hover" [routerLink]="['../InformationDetail',list.news_id]">
                <td width="10%"><img width="125px" src='{{list.img1}}'></td>
                <td style="padding: 10px;text-align: left;max-width: 50vw;cursor: pointer;" >
                    <h4><b nz-tooltip nzPlacement="right" nzTitle="คลิ๊กเพื่อดูรายละเอียด">{{list.title}}</b></h4>
                    <p class="text-overflow">{{list.detail}} </p>
                    <p class="text-right"> วันที่เผยแพร่ : {{list.create_dt | date:"dd-MM-yyyy"}}</p>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
