<div>
    <nz-tabset [nzAnimated]="false">
        <nz-tab nzTitle="ข้อมูลทั่วไป" >
            <div nz-row>
                <div nz-col nzSpan="5">
                    <div style="border-style: solid;margin: 70px 25px 25px 10px">
                        <img style="padding:5px;" src="{{img_profile}}" width="100%" height="100%">
                    </div>
                    <div class="text-center">
                        <button   nz-button [nzType]="'primary'"
                            (click)="EditPrivateProfile()">แก้ไขข้อมูลส่วนตัว</button>
                    </div>

                </div>
                <div nz-col nzSpan="12">
                    <div style="margin: 25px;">
                        <nz-descriptions nzTitle="ข้อมูลทั่วไป" nzBordered>
                            <nz-descriptions-item nzTitle="ชื่อ" [nzSpan]="2"><span>{{firstname}}</span></nz-descriptions-item>
                            <nz-descriptions-item nzTitle="นามสกุล" [nzSpan]="2"><span>{{lastname}}</span></nz-descriptions-item>
                            <nz-descriptions-item nzTitle="ชื่อเล่น" [nzSpan]="3"><span>{{nickname}}</span></nz-descriptions-item>
                            <nz-descriptions-item nzTitle="เพศ"[nzSpan]="3" *ngIf="gender==0"><span>ชาย</span></nz-descriptions-item>
                            <nz-descriptions-item nzTitle="เพศ" [nzSpan]="3" *ngIf="gender==1"><span>หญิง</span>
                            </nz-descriptions-item>
                            
                            <nz-descriptions-item nzTitle="วันเกิด" [nzSpan]="3"><span>{{date_of_birth | date:"dd-MM-yyyy"}}</span>
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="เบอร์โทร" [nzSpan]="3"><span>{{phone_number}}</span>
                            </nz-descriptions-item>
                            <nz-descriptions-item nzTitle="อีเมล" [nzSpan]="3"><span>{{Email}}</span></nz-descriptions-item>
                        </nz-descriptions>
                    </div>
                    <div style="margin: 25px;">
                        <nz-descriptions nzTitle="ที่อยู่" nzBordered>
                            <nz-descriptions-item [nzSpan]="2" nzTitle="บ้านเลขที่"><span>{{address}}</span></nz-descriptions-item>
                            <nz-descriptions-item [nzSpan]="2" nzTitle="ตำบล"><span>{{District}}</span></nz-descriptions-item>
                            <nz-descriptions-item [nzSpan]="2" nzTitle="อำเภอ"><span>{{Amphur}}</span></nz-descriptions-item>
                            <nz-descriptions-item [nzSpan]="2" nzTitle="จังหวัด"><span>{{Province}}</span></nz-descriptions-item>
                            <nz-descriptions-item [nzSpan]="2" nzTitle="รหัสไปรษณีย์"><span>{{Zipcode}}</span></nz-descriptions-item>
                        </nz-descriptions>
                    </div>
                </div>
            </div>
        </nz-tab>
        <nz-tab nzTitle="ทักษะ" *ngIf="USER.levelUsers==2 || USER.levelUsers==3">
            <div *ngIf="Skillhairdata?.length!=0">
                <nz-card style="margin: 10px;" nzTitle="บริการทำผม">
                    <div nz-card-grid [ngStyle]="gridStyle" style="background-color:Tomato;cursor: pointer;"
                        *ngFor="let data of Skillhairdata" nz-popover [nzContent]="contentTemplate"
                        nzPlacement="bottom"><B style="font-size:20px">{{data.service_name}}</B>
                        <ng-template #contentTemplate>
                            <div>
                                <p>ค่าบริการ: {{data?.service_charge}} บาท</p>
                                <p>เวลา: {{data?.take_time}} ชม.</p>
                                <!-- <p>รายละเอียด: {{data?.detail}}</p> -->
                            </div>
                        </ng-template>
                    </div>
                </nz-card>
            </div>
            <div *ngIf="Skillnaildata?.length!=0">
                <nz-card style="margin: 10px;" nzTitle="บริการทำเล็บ">
                    <div nz-card-grid [ngStyle]="gridStyle" style="background-color:rgb(255, 165, 0);cursor: pointer;"
                        *ngFor="let data of Skillnaildata" nz-popover [nzContent]="contentTemplate"
                        nzPlacement="bottom"><b style="font-size:20px">{{data.service_name}}</b>
                        <ng-template #contentTemplate>
                            <div>
                                <p>ค่าบริการ: {{data?.service_charge}} บาท</p>
                                <p>เวลา: {{data?.take_time}} ชม.</p>
                                <!-- <p>รายละเอียด: {{data?.detail}}</p> -->
                            </div>
                        </ng-template>
                    </div>
                </nz-card>
            </div>
            <div *ngIf="Skillfacedata?.length!=0">
                <nz-card style="margin: 10px" nzTitle="บริการทำหน้า">
                    <div nz-card-grid [ngStyle]="gridStyle" style="background-color:rgb(103, 216, 154);cursor: pointer;"
                        *ngFor="let data of Skillfacedata" nz-popover [nzContent]="contentTemplate"
                        nzPlacement="bottom"><b style="font-size:20px">{{data.service_name}}</b>
                        <ng-template #contentTemplate>
                            <div>
                                <p>ค่าบริการ: {{data?.service_charge}} บาท</p>
                                <p>เวลา: {{data?.take_time}} ชม.</p>
                                <!-- <p>รายละเอียด: {{data?.detail}}</p> -->
                            </div>
                        </ng-template>
                    </div>
                </nz-card>
            </div>
        </nz-tab>
        <nz-tab nzTitle="การลา" *ngIf="USER.levelUsers==2 || USER.levelUsers==3">
            <div>
                <nz-table #Table [nzData]="CheckHolidayPrivateBarberdata" [nzShowPagination]="false"
                    [nzBordered]="true" *ngIf="CheckHolidayPrivateBarberdata.length>0">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="2" rowspan="3">ประเภทการลา</th>
                            <th class="text-center" colspan="2">เดือน</th>
                            <th class="text-center" colspan="2">ปี</th>
                        </tr>
                        <tr>
                            <th class="text-center">จำนวนที่ลา</th>
                            <th class="text-center">สูงสุด</th>
                            <th class="text-center">จำนวนที่ลา</th>
                            <th class="text-center">สูงสุด</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of Table.data">
                            <td class="text-center" colspan="2"><span>{{data.vac_type}}</span></td>
                            <td class="text-center"><span>{{data.MONTH}} วัน</span></td>
                            <td class="text-center"><span>{{data.MonthMax}} วัน</span></td>
                            <td class="text-center"><span>{{data.YEAR}} วัน</span></td>
                            <td class="text-center"><span>{{data.yearMax}} วัน</span></td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </nz-tab>
        <nz-tab nzTitle="สลิปเงินเดือน" *ngIf="USER.levelUsers==2 || USER.levelUsers==3">
            <div style="margin-bottom: 10px">
                <nz-form-label>ค้นหา</nz-form-label>
                <nz-month-picker [(ngModel)]="today" (ngModelChange)="GetSalaryPrivateBarber($event)" [nzFormat]="'MM-yyyy'" nzPlaceHolder="เลือกเดือน" [nzAllowClear]='false'>
                </nz-month-picker>
            </div>
            <div style="padding: 3px;border: .5px solid rgb(204, 204, 204);">
                <div  style="background:rgb(244, 253, 244)">
                    <nz-descriptions nzBordered nzLayout="vertical">
                        <nz-descriptions-item nzTitle="สาขา"><span>{{USER.branchname}}</span></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="งวดการจ่าย" [nzSpan]="3"><span>{{Datebill}}</span></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="ชื่อ"><span>คุณ {{USER.firstname}} {{USER.lastname}}</span></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="ตำแหน่ง" [nzSpan]="2" *ngIf="USER.levelUsers==3">
                            <span>ช่างซอย</span>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="ตำแหน่ง" [nzSpan]="2" *ngIf="USER.levelUsers==2">
                            <span>ช่างสระ</span>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="รายได้">
                            <nz-table #MenuTable [nzData]="incomedata" [nzBordered]="true" [nzShowPagination]="false">
                                <thead>
                                    <tr>
                                        <th class="text-center">รายการ</th>
                                        <th class="text-center">จำนวนเงิน(บาท)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of MenuTable.data">
                                        <td class="text-center"><span>{{data.Menu}}</span></td>
                                        <td class="text-right"><span>{{data.Money}}</span></td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="รายการหัก">
                            <nz-table #PayTable [nzData]="paydata" [nzBordered]="true" [nzShowPagination]="false">
                                <thead>
                                    <tr>
                                        <th class="text-center">รายการ</th>
                                        <th class="text-center">จำนวนเงิน(บาท)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of PayTable.data">
                                        <td class="text-center"><span>{{data.Menu}}</span></td>
                                        <td class="text-right"><span>{{data.Money}}</span></td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </nz-descriptions-item>
                        <nz-descriptions-item nzTitle="ประกันร้านสะสม(บาท)"><span>{{ShopiInsurance}}</span></nz-descriptions-item>
                        <nz-descriptions-item nzTitle="จำนวนเงินสุทธิ">
                            <span>{{Salary}} บาทถ้วน</span>
                        </nz-descriptions-item>
                    </nz-descriptions>
    
                </div>
            </div>
        </nz-tab>
    </nz-tabset>
</div>