<div>
    <form nz-form>
        <div style="border-style:.5px solid rgb(224, 224, 224);padding: 20px 20px 0px 20px;">
            <nz-form-item>
                <nz-form-label [nzSpan]="6">ช่างเดิม</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="Nickname1" id="Nickname1" [(ngModel)]="Nickname1" [disabled]="true">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>เปลี่ยนช่าง</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select  nzShowSearch nzAllowClear nzPlaceHolder="เลือกช่าง"
                        name='change_ber' id="change_ber" [(ngModel)]="change_ber">
                        <nz-option *ngFor="let data of berServicedata" [nzValue]="data.username"
                            [nzLabel]="data.nickname"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzRequired>คำอธิบาย</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <textarea rows="4" nz-input name='detail_change_ber' id="detail_change_ber"
                        [(ngModel)]="detail_change_ber" maxlength="200" placeholder="กรุณาใส่เหตุผลการเปลี่ยนช่าง"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>

    </form>
    <br>
    <div>
        <nz-table #basicTable [nzData]="GetcountBarberdata" [nzBordered]='true' [nzFrontPagination]='false'>
            <thead>
                <tr>
                    <th class="text-center">ชื่อช่าง</th>
                    <th class="text-center">จำนวน</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td class="text-center">{{ data.nickname}}</td>
                    <td class="text-center">{{ data.CountQ}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>