<form nz-form>
    <div >
        <nz-form-item style="margin: 10px 43%;">
            <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card"
                [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" [nzShowUploadList]="showUploadList"
                [nzPreview]="handlePreview">
                <i nz-icon nzType="plus"></i>
                <div class="ant-upload-text">เพิ่มรูปโปรไฟล์</div>
            </nz-upload>
            <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                (nzOnCancel)="previewVisible = false">
                <ng-template #modalContent>
                    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                </ng-template>
            </nz-modal>
        </nz-form-item>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title"nzRequired>ไอดีผู้ใช้</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="username" id="username" [(ngModel)]="username" placeholder="ไอดี"
                       >
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12" >
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title"nzRequired>รหัสผ่าน</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input type="password" name="Password" id="Password" [(ngModel)]="Password"
                        placeholder="รหัสผ่าน">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title"nzRequired>ชื่อจริง</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="firstname" id="firstname" [(ngModel)]="firstname"
                            placeholder="ชื่อจริง" maxlength="10">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title"nzRequired>นามสกุล</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="lastname" id="lastname" [(ngModel)]="lastname"
                            placeholder="นามสกุล" maxlength="10">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title"nzRequired>ชื่อเล่น</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="nickname" maxlength="10" id="nickname" [(ngModel)]="nickname" placeholder="ชื่อเล่น"
                       >
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title"nzRequired>วันเกิด</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-date-picker nzFormat="yyyy-MM-dd" name="date_of_birth?" id="date_of_birth?"
                        [(ngModel)]="date_of_birth" nzPlaceHolder="วันเกิด"   [nzDisabledDate]="disabledDate"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title"nzRequired>เบอร์โทร</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="phone_number" id="phone_number" [(ngModel)]="phone_number"
                        placeholder="เบอร์โทร" maxlength="10">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title"nzRequired>อีเมล</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="Email" maxlength="30" id="Email" [(ngModel)]="Email" placeholder="อีเมล"
                       >
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
        <nz-form-item>
            <nz-form-label style="text-align: center;" [nzSpan]="3"nzRequired>เพศ</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-radio-group [(ngModel)]="gender" name="gender" id="gender">
                    <label nz-radio [nzValue]="0">ชาย</label>
                    <label nz-radio [nzValue]="1">หญิง</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label style="text-align: center;" [nzSpan]="3" nzFor="name"nzRequired>ที่อยู่</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input name="address" id="address" [(ngModel)]="address" placeholder="ที่อยู่">
            </nz-form-control>
        </nz-form-item>

    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="type"nzRequired>จังหวัด</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select nzShowSearch nzAllowClear [(ngModel)]="Province_id"
                        name="Province_id" id="Province_id" nzPlaceHolder="จังหวัด"
                        (ngModelChange)="ShowAmphur($event)">
                        <nz-option *ngFor="let data of ProvinceData" [nzValue]="data.province_id"
                            [nzLabel]="data.province_name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="type"nzRequired>อำเภอ</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select [nzDisabled]="DisabledAmphurData" nzShowSearch nzAllowClear
                        [(ngModel)]="Amphur_id" name="Amphur_id" id="Amphur_id" nzPlaceHolder="อำเภอ"
                        (ngModelChange)="ShowDistrict($event)">
                        <nz-option *ngFor="let data of AmphurData" [nzValue]="data.amphur_id"
                            [nzLabel]="data.amphur_name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="type"nzRequired>ตำบล</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select [nzDisabled]="DisabledDistrictData" nzShowSearch nzAllowClear
                        [(ngModel)]="District_id" name="District_id" id="District_id" nzPlaceHolder="ตำบล"
                        (ngModelChange)="ShowZipcode($event)">
                        <nz-option *ngFor="let data of DistrictData" [nzValue]="data.district_id"
                            [nzLabel]="data.district_name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="type" >รหัสไปรษณีย์</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select  [nzDisabled]="DisabledZipcodeData" nzShowSearch nzAllowClear
                        [(ngModel)]="Zipcode_id" name="Zipcode_id" id="Zipcode_id" nzPlaceHolder="รหัสไปรษณีย์">
                        <nz-option *ngFor="let data of ZipcodeData" [nzValue]="data.zipcode_id"
                            [nzLabel]="data.zipcode"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>