<div class="container-fluid">
    <h3>จ่ายเงิน</h3>
    <hr>
    <div class="row">
        <nz-table #Table [nzData]=" PayListdata" style="width:100%" [nzBordered]="true" *ngIf="PayListdata?.length!=0">
            <thead>
                <tr>
                    <th class="text-center">ชื่อลูกค้า</th>
                    <th class="text-center">เบอร์โทรศัพท์</th>
                    <th class="text-center">วันที่</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of Table.data">
                    <td class="text-center">{{list.firstname}}&nbsp;{{list.lastname}}</td>
                    <td class="text-center">{{list.phone_number}}</td>
                    <td class="text-center">{{list.queue_dt | date:"dd-MM-yyyy"}}</td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="จ่ายเงิน" class="icon" nzType="dollar" nzTheme="outline"
                            (click)="Pay(list)" style="color: green"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>