<h3>รายงานการเข้างานและการลา</h3>
<hr>
    <form (ngSubmit)="GetTimeStampBarberByBranch()">
        <div class="row">
            <div class="col-6 col-md-2">
                <nz-month-picker [(ngModel)]="today" id="today" name="today" (ngModelChange)="Reset()"  nzPlaceHolder="เลือกเดือน" [nzFormat]="'MM/yyyy'" [nzAllowClear]="false">
                </nz-month-picker>
            </div>
            <div class="col-6 col-md-2">
                <nz-select  (ngModelChange)="Reset()" nzShowSearch nzPlaceHolder="เลือกสาขา" [(ngModel)]="Branch_id" id="Branch_id" name="Branch_id">
                    <nz-option *ngFor="let data of Branchdata" [nzLabel]="data.name" [nzValue]="data.branch_id"></nz-option>
                  </nz-select>
            </div>
            <div class="col-6 col-md-2">
                <button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                  nzType="search"></i>ค้นหา</button>
            </div>
          </div>
    </form>
<br>
<nz-table #Table [nzData]="TimeStampBarber" [nzBordered]="true" *ngIf="TimeStampBarber?.length>0">
    <thead>
      <tr>
        <th  class="text-center">ชื่อช่าง</th>
        <th  class="text-center">เข้าสาย(วัน)</th>
        <th  class="text-center">กิจกรรม</th>
        <th  class="text-center">ยอดการลา(วัน)</th>
        <th  class="text-center">กิจกรรม</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of Table.data">
        <td  class="text-center"><span>{{data.nickname}}</span></td>
        <td  class="text-center" *ngIf="data.count!=null"><span>{{data.count}}</span></td>
        <td  class="text-center" *ngIf="data.count==null" style="color: crimson;">-</td>
        <td  class="text-center"><button nz-button nzType="dashed" *ngIf="data.count!=null" (click)="DetailTimeStemp(data,'late')">รายละเอียดการสาย</button></td>
        <td  class="text-center"*ngIf="data.leavess!=null"><span>{{data.leavess}}</span></td>
        <td  class="text-center" *ngIf="data.leavess==null" style="color: crimson;">-</td>
        <td  class="text-center"><button nz-button nzType="dashed" *ngIf="data.leavess!=null" (click)="DetailTimeStemp(data,'stop')">รายละเอียดการลา</button></td>
      </tr>
    </tbody>
  </nz-table>

