<div class="container-fluid">
    <h3>ตารางการจองคิว</h3>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21" *ngIf="USER?.levelUsers != 1 ">
            <nz-select style="width: 20%" [(ngModel)]="BranchId" name='BranchId' id="BranchId"
                nzPlaceHolder="เลือกสาขาที่ต้องการ" (ngModelChange)="SelectTable($event)">
                <nz-option *ngFor="let data of BranchList" [nzValue]="data?.branch_id" [nzLabel]="data.name"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="21" *ngIf="USER?.levelUsers == 1 "></div>
        <div nz-col nzSpan="3" style="text-align:right">
            <div *ngIf="USER==null">
                <button nz-button nzType="default" (click)="NoLogin()"
                    *ngIf="BranchId!=null">จองคิว</button>
            </div>
            <div *ngIf="USER?.levelUsers == 1 || USER?.levelUsers == 4">
                <button nz-button nzType="default" (click)="reservationsOpenFrom('new',{})"
                    *ngIf="StatusBranch !=='N' && BranchId!=null">จองคิว</button>
            </div>
            <button nz-button nzType="primary" disabled *ngIf="StatusBranch ==='N'">ปิดบริการ</button>
        </div>
        <br>
        <br>
    </div>
    <div>
        <nz-table #basicTable [nzData]="ShowTableQ" [nzShowPagination]="false" [nzBordered]="true">
            <thead>
                <tr>
                    <th class="text-center">ชื่อช่าง</th>
                    <th class="text-center">8:00-9:00</th>
                    <th class="text-center">9:00-10:00</th>
                    <th class="text-center">10:00-11:00</th>
                    <th class="text-center">11:00-12:00</th>
                    <th class="text-center">12:00-13:00</th>
                    <th class="text-center">13:00-14:00</th>
                    <th class="text-center">14:00-15:00</th>
                    <th class="text-center">15:00-16:00</th>
                    <th class="text-center">16:00-17:00</th>
                    <th class="text-center">17:00-18:00</th>
                    <th class="text-center">18:00-19:00</th>
                    <th class="text-center">19:00-20:00</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of basicTable.data" [nzExpand]='true'>
                    <td><span>{{list.Name}}</span></td>
                    <td *ngIf="list.t1 == '' || !list.t1" class="nondataTable"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 !== list.t2) && (list.t1 != '' && list.t1 !== null)) " class="dataTable">
                    <span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 !== list.t3) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="2"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 !== list.t4) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="3"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 !== list.t5) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="4"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 !== list.t6) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="5"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 !== list.t7) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="6"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 !== list.t8) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="7"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 !== list.t9) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="8"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 === list.t9) && (list.t1 !== list.t10) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="9"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 === list.t9) && (list.t1 === list.t10) && (list.t1 !== list.t11) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="10"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 === list.t9) && (list.t1 === list.t10) && (list.t1 === list.t11) && (list.t1 !== list.t12) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="11"><span>{{list.t1}}</span></td>
                    <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 === list.t9) && (list.t1 === list.t10) && (list.t1 === list.t11) && (list.t1 === list.t12) && (list.t1 != '' && list.t1 !== null)) "
                        class="dataTable" colspan="12"><span>{{list.t1}}</span></td>

                    <td *ngIf="list.t2 == '' || !list.t2" class="nondataTable"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 !== list.t3) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 !== list.t4) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="2"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 !== list.t5) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="3"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 !== list.t6) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="4"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 !== list.t7) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="5"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 !== list.t8) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="6"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 !== list.t9) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="7"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 === list.t9) && (list.t2 !== list.t10) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="8"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 === list.t9) && (list.t2 === list.t10) && (list.t2 !== list.t11) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="9"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 === list.t9) && (list.t2 === list.t10) && (list.t2 === list.t11) && (list.t2 !== list.t12) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="10"><span>{{list.t2}}</span></td>
                    <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 === list.t9) && (list.t2 === list.t10) && (list.t2 === list.t11) && (list.t2 === list.t12) && (list.t2 != '' && list.t2 !== null)) "
                        class="dataTable" colspan="11"><span>{{list.t2}}</span></td>

                    <td *ngIf="list.t3 == '' || !list.t3" class="nondataTable"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 !== list.t4) && (list.t3 != '' && list.t3 !== null))"
                        class="dataTable"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 !== list.t5) && (list.t3 != '' && list.t3 !== null))"
                        class="dataTable" colspan="2"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 !== list.t6) && (list.t3 != '' && list.t3 !== null))"
                        class="dataTable" colspan="3"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 !== list.t7) && (list.t3 != '' && list.t3 !== null))"
                        class="dataTable" colspan="4"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                        && (list.t3 !== list.t8) && (list.t3 != '' && list.t3 !== null))" class="dataTable"
                        colspan="5"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                        && (list.t3 === list.t8) && (list.t3 !== list.t9) && (list.t3 != '' && list.t3 !== null))"
                        class="dataTable" colspan="6"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                        && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 !== list.t10) && (list.t3 != '' && list.t3 !== null))"
                        class="dataTable" colspan="7"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                        && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 === list.t10) && (list.t3 !== list.t11) && (list.t3 != '' && list.t3 !== null))"
                        class="dataTable" colspan="8"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                        && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 === list.t10) && (list.t3 === list.t11) && (list.t3 !== list.t12) && (list.t3 != '' && list.t3 !== null))"
                        class="dataTable" colspan="9"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                        && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 === list.t10) && (list.t3 === list.t11) && (list.t3 === list.t12)
                         && (list.t3 != '' && list.t3 !== null))" class="dataTable" colspan="10"><span>{{list.t3}}</span></td>
                    <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                        && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 === list.t10) && (list.t3 === list.t11) && (list.t3 === list.t12)
                        &&(list.t3 != '' && list.t3 !== null))" class="dataTable" colspan="10"><span>{{list.t3}</span></td>

                    <td *ngIf="list.t4 == '' || !list.t4" class="nondataTable"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 !== list.t5) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 !== list.t6) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable" colspan="2"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 !== list.t7) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable" colspan="3"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 !== list.t8) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable" colspan="4"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 !== list.t9) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable" colspan="5"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 === list.t9) && (list.t4 !== list.t10) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable" colspan="6"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 === list.t9) && (list.t4 === list.t10) && (list.t4 !== list.t11) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable" colspan="7"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 === list.t9) && (list.t4 === list.t10) && (list.t4 === list.t11) && (list.t4 !== list.t12) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable" colspan="8"><span>{{list.t4}}</span></td>
                    <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 === list.t9) && (list.t4 === list.t10) && (list.t4 === list.t11) && (list.t4 === list.t12) && (list.t4 != '' && list.t4 !== null))"
                        class="dataTable" colspan="9"><span>{{list.t4}}</span></td>

                    <td *ngIf="list.t5 == '' || !list.t5" class="nondataTable"><span>{{list.t5}}</span></td>
                    <td *ngIf="((list.t5 !== list.t4) && (list.t5 !== list.t6) && (list.t5 != '' && list.t5 !== null))"
                        class="dataTable"><span>{{list.t5}}</span></td>
                    <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 !== list.t7) && (list.t5 != '' && list.t5 !== null))"
                        class="dataTable" colspan="2"><span>{{list.t5}}</span></td>
                    <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 !== list.t8) && (list.t5 != '' && list.t5 !== null))"
                        class="dataTable" colspan="3"><span>{{list.t5}}</span></td>
                    <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 !== list.t9) && (list.t5 != '' && list.t5 !== null))"
                        class="dataTable" colspan="4"><span>{{list.t5}}</span></td>
                    <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 === list.t9)
                        && (list.t5 !== list.t10) && (list.t5 != '' && list.t5 !== null))" class="dataTable"
                        colspan="5"><span>{{list.t5}}</span></td>
                    <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 === list.t9)
                        && (list.t5 === list.t10) && (list.t5 !== list.t11) && (list.t5 != '' && list.t5 !== null))"
                        class="dataTable" colspan="6"><span>{{list.t5}}</span></td>
                    <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 === list.t9)
                        && (list.t5 === list.t10) && (list.t5 === list.t11) && (list.t5 !== list.t12) && (list.t5 != '' && list.t5 !== null))"
                        class="dataTable" colspan="7"><span>{{list.t5}}</span></td>
                    <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 === list.t9)
                        && (list.t5 === list.t10) && (list.t5 === list.t11) && (list.t5 === list.t12) && (list.t5 != '' && list.t5 !== null))"
                        class="dataTable" colspan="8"><span>{{list.t5}}</span></td>

                    <td *ngIf="list.t6 == '' || !list.t6" class="nondataTable"><span>{{list.t6}}</span></td>
                    <td *ngIf="((list.t6 !== list.t5) && (list.t6 !== list.t7) && (list.t6 != '' && list.t6 !== null)) "
                        class="dataTable"><span>{{list.t6}}</span></td>
                    <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 !== list.t8) && (list.t6 != '' && list.t6 !== null)) "
                        class="dataTable" colspan="2"><span>{{list.t6}}</span></td>
                    <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 !== list.t9) && (list.t6 != '' && list.t6 !== null)) "
                        class="dataTable" colspan="3"><span>{{list.t6}}</span></td>
                    <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 === list.t9) && (list.t6 !== list.t10) && (list.t6 != '' && list.t6 !== null)) "
                        class="dataTable" colspan="4"><span>{{list.t6}}</span></td>
                    <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 === list.t9) && (list.t6 === list.t10) && (list.t6 !== list.t11) && (list.t6 != '' && list.t6 !== null)) "
                        class="dataTable" colspan="5"><span>{{list.t6}}</span></td>
                    <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 === list.t9) && (list.t6 === list.t10) && (list.t6 === list.t11) && (list.t6 !== list.t12) && (list.t6 != '' && list.t6 !== null)) "
                        class="dataTable" colspan="6"><span>{{list.t6}}</span></td>
                    <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 === list.t9) && (list.t6 === list.t10) && (list.t6 === list.t11) && (list.t6 === list.t12) && (list.t6 != '' && list.t6 !== null)) "
                        class="dataTable" colspan="7"><span>{{list.t6}}</span></td>

                    <td *ngIf="list.t7 == '' || !list.t7" class="nondataTable"><span>{{list.t7}}</span></td>
                    <td *ngIf="((list.t7 !== list.t6) && (list.t7 !== list.t8) && (list.t7 != '' && list.t7 !== null)) "
                        class="dataTable"><span>{{list.t7}}</span></td>
                    <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 !== list.t9) && (list.t7 != '' && list.t7 !== null)) "
                        class="dataTable" colspan="2"><span>{{list.t7}}</span></td>
                    <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 === list.t9) && (list.t7 !== list.t10) && (list.t7 != '' && list.t7 !== null)) "
                        class="dataTable" colspan="3"><span>{{list.t7}}</span></td>
                    <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 === list.t9) && (list.t7 === list.t10) && (list.t7 !== list.t11) && (list.t7 != '' && list.t7 !== null)) "
                        class="dataTable" colspan="4"><span>{{list.t7}}</span></td>
                    <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 === list.t9) && (list.t7 === list.t10) && (list.t7 === list.t11) && (list.t7 !== list.t12) && (list.t7 != '' && list.t7 !== null)) "
                        class="dataTable" colspan="5"><span>{{list.t7}}</span></td>
                    <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 === list.t9) && (list.t7 === list.t10) && (list.t7 === list.t11) && (list.t7 === list.t12) && (list.t7 != '' && list.t7 !== null)) "
                        class="dataTable" colspan="6"><span>{{list.t7}}</span></td>

                    <td *ngIf="list.t8 == '' || !list.t8" class="nondataTable"><span>{{list.t8}}</span></td>
                    <td *ngIf="((list.t8 !== list.t7) && (list.t8 !== list.t9) && (list.t8 != '' && list.t8 !== null)) "
                        class="dataTable"><span>{{list.t8}}</span></td>
                    <td *ngIf="((list.t8 !== list.t7) && (list.t8 === list.t9) && (list.t8 !== list.t10) && (list.t8 != '' && list.t8 !== null)) "
                        class="dataTable" colspan="2"><span>{{list.t8}}</span></td>
                    <td *ngIf="((list.t8 !== list.t7) && (list.t8 === list.t9) && (list.t8 === list.t10) && (list.t8 !== list.t11) && (list.t8 != '' && list.t8 !== null)) "
                        class="dataTable" colspan="3"><span>{{list.t8}}</span></td>
                    <td *ngIf="((list.t8 !== list.t7) && (list.t8 === list.t9) && (list.t8 === list.t10) && (list.t8 === list.t11) && (list.t8 !== list.t12) && (list.t8 != '' && list.t8 !== null)) "
                        class="dataTable" colspan="4"><span>{{list.t8}}</span></td>
                    <td *ngIf="((list.t8 !== list.t7) && (list.t8 === list.t9) && (list.t8 === list.t10) && (list.t8 === list.t11) && (list.t8 === list.t12) && (list.t8 != '' && list.t8 !== null)) "
                        class="dataTable" colspan="5"><span>{{list.t8}}</span></td>

                    <td *ngIf="list.t9 =='' || !list.t9" class="nondataTable"><span>{{list.t9}}</span></td>
                    <td *ngIf="((list.t9 !== list.t8) && (list.t9 !== list.t10) && (list.t9 != '' && list.t9 !== null)) "
                        class="dataTable"><span>{{list.t9}}</span></td>
                    <td *ngIf="((list.t9 !== list.t8) && (list.t9 === list.t10) && (list.t9 !== list.t11) && (list.t9 != '' && list.t9 !== null)) "
                        class="dataTable" colspan="2"><span>{{list.t9}}</span></td>
                    <td *ngIf="((list.t9 !== list.t8) && (list.t9 === list.t10) && (list.t9 === list.t11) && (list.t9 !== list.t12) && (list.t9 != '' && list.t9 !== null)) "
                        class="dataTable" colspan="3"><span>{{list.t9}}</span></td>
                    <td *ngIf="((list.t9 !== list.t8) && (list.t9 === list.t10) && (list.t9 === list.t11) && (list.t9 === list.t12) && (list.t9 != '' && list.t9 !== null)) "
                        class="dataTable" colspan="4"><span>{{list.t9}}</span></td>

                    <td *ngIf="list.t10 == '' || !list.t10" class="nondataTable"><span>{{list.t10}}</span></td>
                    <td *ngIf="((list.t10 !== list.t9) && (list.t10 !== list.t11) && (list.t10 != '' && list.t10 !== null)) "
                        class="dataTable"><span>{{list.t10}}</span></td>
                    <td *ngIf="((list.t10 !== list.t9) && (list.t10 === list.t11) && (list.t10 !== list.t12) && (list.t10 != '' && list.t10 !== null)) "
                        class="dataTable" colspan="2"><span>{{list.t10}}</span></td>
                    <td *ngIf="((list.t10 !== list.t9) && (list.t10 === list.t11) && (list.t10 === list.t12) && (list.t10 != '' && list.t10 !== null)) "
                        class="dataTable" colspan="3"><span>{{list.t10}}</span></td>

                    <td *ngIf="list.t11 == '' || !list.t11" class="nondataTable"><span>{{list.t11}}</span></td>
                    <td *ngIf="((list.t11 !== list.t10) && (list.t11 !== list.t12) && (list.t11 != '' && list.t11 !== null)) "
                        class="dataTable"><span>{{list.t11}}</span></td>
                    <td *ngIf="((list.t11 !== list.t10) && (list.t11 === list.t12) && (list.t11 != '' && list.t11 !== null)) "
                        class="dataTable" colspan="2"><span>{{list.t11}}</span></td>

                    <td *ngIf="list.t12 == '' || !list.t12" class="nondataTable"><span>{{list.t12}}</span></td>
                    <td *ngIf="((list.t12 !== list.t11) && (list.t12 != '' && list.t12 !== null)) " class="dataTable">
                    <span>{{list.t12}}</span></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>