<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="">
        <img *ngIf="!isCollapsed" src="../assets/image/c.png" alt="logo">
        <img *ngIf="isCollapsed" style="height: 20px;width: 20px;" src="../../assets/Untitled-1.ico" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="ประชาสัมพันธ์" nzIcon="pic-left">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="News">ข่าวสาร</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Promotion">โปรโมชั่น</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="บริการ" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Service/ShowListServices"> บริการทั้งหมด</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="ช่าง" nzIcon="solution">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Barber/ShowListBarber">ช่างทั้งหมด</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Barber/ShowHoliday">ช่างที่มาทำงาน</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 1">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Barber/BarberTimeStamp">การเข้างาน</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 1">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Barber/BarberLeave">การลา</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Barber/BarberExpenses">จัดทำรายจ่าย</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="สาขา" nzIcon="bank">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Branch/ShowListBranch">สาขาทั้งหมด</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="คิว" nzIcon="schedule">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Queue/TableQueue">ตารางคิว</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 1">
          <li nz-menu-item nzMatchRouter>
              <a routerLink="Queue/ApproveQueue">อนุมัติคิว</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 1">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Queue/ConfirmQueue">ยืนยันการมาใช้บริการ</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 1">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Queue/Pay">ชำระบริการ</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="การจัดการ" nzIcon="setting" *ngIf="USER?.levelUsers == 0 || USER?.levelUsers == 1">
        <ul *ngIf="USER?.levelUsers == 1">
          <li nz-menu-item nzMatchRouter>
            <a (click)="AddCustomer()">เพิ่มลูกค้า</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0 ">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Master/Home">ประวัติร้าน</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0 ">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Master/Information">ประชาสัมพันธ์</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0 ">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Master/Service">บริการ</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0 ">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Master/Branch">สาขา</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0 ">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Master/User">ผู้ใช้งาน</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0 ">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Master/SettingBar">เกี่ยวกับช่าง</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0 ">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Master/Holiday">การลาหยุด</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0 ">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Master/NumberOfRightsGranted">การเก็บแต้มของลูกค้า</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="รายงาน" nzIcon="area-chart" *ngIf="USER?.levelUsers == 1 || USER?.levelUsers == 0">
        <ul *ngIf="USER?.levelUsers == 0">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Report/CancelService">สรุปการยกเลิกบริการ</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Report/TimeAndJobBarber">สรุปเวลาเเละงานช่าง</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Report/Revenue">สรุปรายรับเเต่หละสาขา</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Report/SalaryBarber">สรุปเงินเดือนช่าง</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Report/TimeStamp">สรุปเข้างานและการลา</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Report/ChangeBarber">สรุปการเปลี่ยนช่าง</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Report/Feedback">ความพึ่งพอใจ</a>
          </li>
        </ul>
        <ul *ngIf="USER?.levelUsers == 0">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="Report/Question">ติดต่อสอบถาม</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span style="float: right;padding:0px 10px 0px 0px">
          <button nz-button nzType="default" (click)="onLogin()" *ngIf="USER?.levelUsers == null ">เข้าสู่ระบบ</button>
          <nz-button-group *ngIf="USER?.levelUsers != null && USER?.status==='Y'">
            <button nz-button *ngIf="USER?.levelUsers == 1" routerLink="Profile/PeivateProfile" >ผู้จัดการสาขา: {{USER?.branchname}}</button>
            <button nz-button *ngIf="USER?.levelUsers == 0" routerLink="Profile/PeivateProfile" >เจ้าของร้าน</button>

            <button nz-button routerLink="Profile/PeivateProfile" *ngIf=" USER?.levelUsers == 4">{{USER?.firstname}}
              {{USER?.lastname}}</button>
            <button nz-button routerLink="Profile/PeivateProfile"
              *ngIf="USER?.levelUsers == 2 || USER?.levelUsers == 3 ">{{USER?.levelUsers==2? "ช่างสระ":"ช่างซอย"}}สาขา:
              {{USER?.branchname}}</button>
              <nz-badge [nzCount]="COUNT" [nzOverflowCount]="10"><button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
              <i nz-icon nzType="user"></i>
            </button></nz-badge>
          </nz-button-group>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item *ngIf="USER?.levelUsers == 4"><a routerLink="Profile/StatusQueue">สถานะการจองคิว</a></li>
              <li nz-menu-item *ngIf="USER?.levelUsers == 4"><a
                  routerLink="Profile/HistoryService">ประวัติการใช้บริการ</a></li>
              <li nz-menu-item *ngIf="USER?.levelUsers == 2 || USER?.levelUsers == 3"><a
                  routerLink="Profile/JobQueueBarber">คิวงาน</a></li>
              <li nz-menu-item (click)="ChangePassword()"><a>เปลี่ยนรหัสผ่าน</a></li>
              <li nz-menu-item (click)="onLogout()"><a>ออกจากระบบ</a></li>
            </ul>
          </nz-dropdown-menu>
        </span>
      </div>
    </nz-header>
    <nz-content style="overflow-y: auto">
      <div class="inner-content" id="content">
        <router-outlet></router-outlet>
        <script src="node_modules/chart.js/src/chart.js"></script>
      </div>
    </nz-content>
    <nz-footer class="footer">
            <div class="row">
              <div class="col-3">
              </div>
              <div class="col-6"  style="text-align: center;">
                <span > Hair 2 Hair Salon © 2019. All rights reserved</span>
              </div>
              <div class="col-3" style="text-align:end;">
                  <button nz-button style="margin-bottom: 5px" nzType="primary" (click)="Ask()">ติดต่อสอบถาม</button>
              </div>
            </div>
    </nz-footer>
  </nz-layout>
</nz-layout>