:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
  width: 100vw;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  overflow-y: auto;
  
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 200px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

nz-content {
  margin: 10px 0px 10px 20px;
  height: 100%;
  padding-right: 5px;
}

.inner-content {
  padding: 24px;
  background: #fff;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #5a5a5a; 
}
::-webkit-scrollbar-thumb {
  background: #001529; 
}

::-webkit-scrollbar-thumb:hover {
  background: #001120;
}
.footer{
  background: #001529;
  color: white;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
nz-avatar {
  margin-top: 16px;
  margin-right: 16px;
}
nz-button-group {
  margin-right: 8px;
}
