<div *ngIf="SeleteType==1">
    <nz-table #Table1 [nzData]="BranchFeedbackReportDetaildata" [nzBordered]="true" [nzShowPagination]="true">
        <thead>
            <tr>
                <th class="text-center">วันที่</th>
                <th class="text-center">เวลา</th>
                <th class="text-center">ผลการประเมิน</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Table1.data">
                <td class="text-center">{{data.queue_dt | date:'dd-MM-yyyy'}}</td>
                <td class="text-center">{{data.dateBranch.substring(0,5)}}</td>
                <td class="text-center"><nz-rate [ngModel]="data.feedback" nzAllowHalf nzDisabled></nz-rate></td>
            </tr>
        </tbody>
    </nz-table>
</div>
<div *ngIf="SeleteType==2">
    <nz-table #Table2 [nzData]="ServiceFeedbackReportDetaildata" [nzBordered]="true" [nzShowPagination]="true">
        <thead>
            <tr>
                <th class="text-center">วันที่</th>
                <th class="text-center">เวลา</th>
                <th class="text-center">ช่าง</th>
                <th class="text-center">ผลการประเมิน</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Table2.data">
                <td class="text-center">{{data.queue_dt | date:'dd-MM-yyyy'}}</td>
                <td class="text-center">{{data.dateBranch.substring(0,5)}}</td>
                <td class="text-center">{{data.nickname}}</td>
                <td class="text-center"><nz-rate [ngModel]="data.feedService" nzAllowHalf nzDisabled></nz-rate></td>
            </tr>
        </tbody>
    </nz-table>
</div>
<div *ngIf="SeleteType==3">
    <nz-table #Table3 [nzData]="BarberFeedbackReportDetaildata" [nzBordered]="true" [nzShowPagination]="true">
        <thead>
            <tr>
                <th class="text-center">วันที่</th>
                <th class="text-center">เวลา</th>
                <th class="text-center">บริการ</th>
                <th class="text-center">ผลการประเมิน</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Table3.data">
                <td class="text-center">{{data.queue_dt | date:'dd-MM-yyyy'}}</td>
                 <td class="text-center">{{data.dateBranch.substring(0,5)}}</td>
                <td class="text-center">{{data.name}}</td>               
                <td class="text-center"><nz-rate [ngModel]="data.feedBarber" nzAllowHalf nzDisabled></nz-rate></td>
            </tr>
        </tbody>
    </nz-table>
</div>