<form nz-form>
    <div nz-row class="text-center">
        <div style="margin:0 40% ;">
            <nz-form-item>
                <nz-form-control>
                    <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card"
                        [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1"
                        [nzShowUploadList]="showUploadList" [nzPreview]="handlePreview">
                        <i nz-icon nzType="plus"></i>
                        <div class="ant-upload-text">เพิ่มรูปโปรไฟล์</div>
                    </nz-upload>
                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                        (nzOnCancel)="previewVisible = false">
                        <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                        </ng-template>
                    </nz-modal>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="title" nzRequired><span>ชื่อจริง</span></nz-form-label>
                <nz-form-control [nzSpan]="14" nzErrorTip="Please input your username!">
                    <input nz-input name="firstname" id="firstname" [(ngModel)]="firstname" placeholder="ชื่อจริง"
                        >
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzFor="title" nzRequired><span>นามสกุล</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="lastname" id="lastname" [(ngModel)]="lastname" placeholder="นามสกุล"
                       >
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="title" nzRequired><span>ชื่อเล่น</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="nickname" id="nickname" [(ngModel)]="nickname" placeholder="ชื่อเล่น">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="title" nzRequired><span>วันเกิด</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-date-picker nzFormat="dd-MM-yyyy" name="date_of_birth?" id="date_of_birth?"
                        [(ngModel)]="date_of_birth" nzPlaceHolder="วันเกิด" [nzDisabledDate]="disabledDate">
                    </nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzFor="title" nzRequired><span>เบอร์โทร</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input maxlength="10" name="phone_number" id="phone_number" [(ngModel)]="phone_number"
                        placeholder="เบอร์โทรศัพท์">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="title" nzRequired><span>อีเมล</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="Email" id="Email" [(ngModel)]="Email" placeholder="อีเมล">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
        <nz-form-item>
            <nz-form-label [nzSm]="3" nzRequired><span>เพศ</span></nz-form-label>
            <nz-form-control [nzSm]="14">
                <nz-radio-group [(ngModel)]="gender" name="gender" id="gender">
                    <label nz-radio [nzValue]="0">ชาย</label>
                    <label nz-radio [nzValue]="1">หญิง</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="3" nzFor="name" nzRequired><span>ที่อยู่</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input name="address" id="address" [(ngModel)]="address" placeholder="ที่อยู่">
            </nz-form-control>
        </nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="type" nzRequired><span>จังหวัด</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select nzShowSearch nzAllowClear [(ngModel)]="province_id" name="province_id" id=" province_id"
                        nzPlaceHolder="จังหวัด" (ngModelChange)="ShowAmphur($event)">
                        <nz-option *ngFor="let data of ProvinceData" [nzValue]="data.province_id"
                            [nzLabel]="data.province_name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="type" nzRequired><span>อำเภอ</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select [nzDisabled]="DisabledAmphurData" nzShowSearch nzAllowClear [(ngModel)]="amphur_id"
                        name="amphur_id" id="amphur_id" nzPlaceHolder="อำเภอ" (ngModelChange)="ShowDistrict($event)">
                        <nz-option *ngFor="let data of AmphurData" [nzValue]="data.amphur_id"
                            [nzLabel]="data.amphur_name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="type" nzRequired><span>ตำบล</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select [nzDisabled]="DisabledDistrictData" nzShowSearch nzAllowClear [(ngModel)]="district_id"
                        name="district_id" id="district_id" nzPlaceHolder="ตำบล" (ngModelChange)="ShowZipcode($event)">
                        <nz-option *ngFor="let data of DistrictData" [nzValue]="data.district_id"
                            [nzLabel]="data.district_name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzFor="type" ><span>ไปรษณีย์</span>
                </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select [nzDisabled]="DisabledZipcodeData" nzShowSearch nzAllowClear [(ngModel)]="zipcode_id"
                        name="zipcode_id" id="zipcode_id" nzPlaceHolder="รหัสไปรษณีย์">
                        <nz-option *ngFor="let data of ZipcodeData" [nzValue]="data.zipcode_id"
                            [nzLabel]="data.zipcode">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>