@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
.hover{
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
    border: 1px solid lightgray;
    outline: none;
}
.hover:hover {
    transform: scale(1.01);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    cursor: pointer;
    outline: none;
}

.hoverp p {
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.about {
    margin: 20px 0px 50px 280px;
}

.btnn {
    border: 2px solid white;
    background: none;
    border-radius: 20px;
    padding: 5px 20px;
    transition: 0.5s;
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-size: large;
}

.btnn:hover {
    background: white;
    color: black;
}

.desc_projects {
    display: -webkit-box;
    height: 70px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    letter-spacing: .5px;
    transition: all .5s ease-in-out;
    line-height: 24px;
    margin: 0px 10px;
}

.box_projects {
    color: #ea9106;
    text-transform: uppercase;
    margin: 15px 10px 10px;
    line-height: 25px;
}

.sc {
    width: 100%;
    height: 40vh;
    padding: 0px;
}

.img-tablequeue {
    background-image: url("../../../../assets/home/bg.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 40vh;
}

.img-Service {
    background-image: url("../../../../assets/home/bg-1.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 40vh;
}

.img-barber {
    background-image: url("../../../../assets/home/bg-2.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 40vh;
}

h1 {
    cursor: pointer;
    font-size: 150px;
    font-family: 'Prompt', sans-serif;
    outline: none;
    color: #fff;
}
.icon{
    font-size: 50px;
    cursor: pointer;
    outline: none;
    transition: transform 0.5s;
  }
  .icon:hover{
    transform: scale(1.3)
  }
  .icon-center{
    vertical-align: unset
  }