<form nz-form *ngIf="typeComponent==='new'">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="email" nzRequired><span>ชื่อการลาหยุด</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input name="vac_type" maxlength="30" placeholder="กรุณาใส่ชื่อการลาหยุด" id="vac_type" [(ngModel)]="vac_type" >
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="email" nzRequired><span>จำนวนวันต่อเดือน</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-input-number [(ngModel)]="MonthMax" nzPlaceHolder="จำนวน" name="MonthMax"  id="MonthMax"  [nzMin]="1" [nzMax]="1000" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="email" nzRequired><span>จำนวนวันต่อปี</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-input-number [(ngModel)]="yearMax" name="yearMax"  id="yearMax" nzPlaceHolder="จำนวน" [nzMin]="1" [nzMax]="1000" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
</form>

<form nz-form *ngIf="typeComponent==='edit'">
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email" nzRequired><span>ชื่อการลาหยุด</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input name="vac_type" maxlength="30" placeholder="กรุณาใส่ชื่อการลาหยุด" id="vac_type" [(ngModel)]="vac_type" [disabled]="true">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="email" nzRequired><span>จำนวนวันต่อเดือน</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-input-number [(ngModel)]="MonthMax" nzPlaceHolder="จำนวนวัน" name="MonthMax"  id="MonthMax"  [nzMin]="1" [nzMax]="1000" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="email" nzRequired><span>จำนวนวันต่อปี</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-input-number [(ngModel)]="yearMax" name="yearMax"  id="yearMax" nzPlaceHolder="จำนวนวัน" [nzMin]="1" [nzMax]="1000" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
</form>
