<nz-table nzShowPagination=false #ShowListDeailQ [nzData]="DetailHistory" [nzBordered]='true'>
  <thead>
    <tr>
      <th class="text-center">ช่าง</th>
      <th class="text-center">บริการ</th>
      <th class="text-center">เวลา</th>
      <th class="text-center">ใช้เวลา(ชม.)</th>
      <th class="text-center">ราคา(บาท)</th>
      <th class="text-center">เพิ่มเวลา(ชม.)</th>
      <th class="text-center">เพิ่มราคา(บาท)</th>
      <th class="text-center" *ngIf="data?.detail">รายละเอียด</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ShowListDeailQ.data">
      <td class="text-center"><span>{{ data.nickname}}</span></td>
      <td class="text-center"><span>{{ data.service_id }}</span></td>
      <td class="text-center"><span>{{ data.start_dt.substring(0,5)}}-{{ data.finish_dt.substring(0,5)}}น.</span></td>
      <td class="text-center"><span>{{ data.take_time }}</span></td>
      <td class="text-center"><span>{{ data.service_charge }}</span></td>
      <td class="text-center"><span>{{ data.add_time }}</span></td>
      <td class="text-center"><span>{{ data.add_money}}</span></td>
      <td class="text-center" *ngIf="data?.detail"><span>{{ data.detail}}</span></td>

    </tr>
  </tbody>
</nz-table>