<form nz-form>
    <div style="border-style: dotted;padding: 10px">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" >บริการ</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="service_id" id="service_id" [(ngModel)]="service_id" [disabled]="true">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6">ช่าง</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="Nickname1" id="Nickname1" [(ngModel)]="Nickname1" [disabled]="true">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6">ใช้เวลา(ชั่วโมง)</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="take_time" id="take_time" [(ngModel)]="take_time" [disabled]="true">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6">ราคา(บาท)</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="service_charge" id="service_charge" [(ngModel)]="service_charge"
                            [disabled]="true">
                    </nz-form-control>
                </nz-form-item>
    </div><br>
    <span>เพิ่ม</span>
    <hr>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6"nzRequired>เงิน(บาท)</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <nz-input-number [(ngModel)]="add_money" name="add_money" id="add_money"  [nzMin]="0" [nzMax]="100000" [nzStep]="100" nzPlaceHolder="เพิ่มเงิน">
                        </nz-input-number>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6"nzRequired>เวลา(ชม.)</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <nz-input-number [(ngModel)]="add_time" name="add_time" id="add_time" [nzMin]="1" [nzMax]="5" [nzStep]="1" nzPlaceHolder="เพิ่มเวลา"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>รายละเอียด</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <textarea rows="4" nz-input [(ngModel)]="detail" name="detail" id="detail" placeholder="ใส่รายละเอียดการเพิ่ม"></textarea>
                    </nz-form-control>
                </nz-form-item>


</form>