<form nz-form>
        <div>
            <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>ชื่อช่าง</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                        <input nz-input [(ngModel)]="fullname" name="fullname" id="fullname"  [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div>
            <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor=""nzRequired><span>ประเภทรายจ่าย</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                        <input nz-input [(ngModel)]="Type" name="Type" id="Type"  [disabled]="true" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="detail"nzRequired><span>จำนวนเงิน(บาท)</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                        <nz-input-number [disabled]="true" [(ngModel)]="money" name="money" id="money"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="detail"><span>รายละเอียด</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <textarea rows="4" [disabled]="true" nz-input maxlength="150" name="Detail" id="Detail" [(ngModel)]="Detail" ></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
