<h3 *ngIf="Type==0">ข้อมูลรายละเอียดข่าวสาร</h3>
<h3 *ngIf="Type==1">ข้อมูลรายละเอียดโปรโมชั่น</h3>
<hr>
<div class="container-fluid">
    <div nz-row>
        <div nz-col nzSpan="7"></div>
        <div nz-col nzSpan="10" style="border-style: double;">
            <nz-carousel [nzEffect]="'fade'" nzAutoPlay>
                <div nz-carousel-content *ngFor="let index of array" style="width:600px;height: 400px;">
                    <img width="100%" height="100%" src="{{ index }}">
                </div>
            </nz-carousel>
        </div>
        <div nz-col nzSpan="7"></div>
    </div>
    <div nz-row style="margin-top: 30px">
        <div nz-col nzSpan="5"></div>
        <div nz-col nzSpan="14">
            <nz-descriptions nzBordered>
                <nz-descriptions-item nzTitle="ชื่อเรื่อง" [nzSpan]="3"><span>{{ title}}</span></nz-descriptions-item>
                <nz-descriptions-item nzTitle="ประเภท" *ngIf="Type==0" [nzSpan]="3">
                    <nz-tag [nzColor]="'blue'"><span>ข่าวสาร</span> </nz-tag>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="ประเภท" *ngIf="Type==1" [nzSpan]="3">
                    <nz-tag [nzColor]="'gold'"><span>โปรโมชั่น</span></nz-tag>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="วันที่ลงข่าว" [nzSpan]="5"><span> {{ create_dt | date:"dd-MM-yyyy"}}</span>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="รายละเอียด"><span>{{detail}}</span></nz-descriptions-item>
            </nz-descriptions>
            <div class="text-right">
                <button nz-button onClick="history.back()" nzType="dashed" style="margin: 10px;">ย้อนหลับ</button>
            </div>
        </div>
        <div nz-col nzSpan="5"></div>
    </div>
</div>