[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }



  .img-resize {
    width: 50 ;
    height: 50px;
    overflow: hidden;
    text-align: center;
    }