.nondataTable{
    background-color: whitesmoke;
}
.dataTable{
    color: aliceblue;
    background-color:rgb(2, 2, 173);
}
.input {
    padding: 5px;
    width: 30%;
    margin-right: 10px;
  }
.icon{
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: transform 0.5s;
}
.icon:hover{
  transform: scale(1.3)
}
.icon-center{
  vertical-align: unset
}