<div>
    <nz-table #basicTable [nzData]="ShowTableQ" [nzShowPagination]="false" [nzBordered]="true">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">8:00-9:00</th>
                <th class="text-center">9:00-10:00</th>
                <th class="text-center">10:00-11:00</th>
                <th class="text-center">11:00-12:00</th>
                <th class="text-center">12:00-13:00</th>
                <th class="text-center">13:00-14:00</th>
                <th class="text-center">14:00-15:00</th>
                <th class="text-center">15:00-16:00</th>
                <th class="text-center">16:00-17:00</th>
                <th class="text-center">17:00-18:00</th>
                <th class="text-center">18:00-19:00</th>
                <th class="text-center">19:00-20:00</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of basicTable.data" [nzExpand]='true'>
                <td>{{list.Name}}</td>
                <td *ngIf="list.t1 == '' || !list.t1" class="nondataTable">{{list.t1}}</td>
                <td *ngIf="((list.t1 !== list.t2) && (list.t1 != '' && list.t1 !== null)) " class="dataTable">
                    {{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 !== list.t3) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="2">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 !== list.t4) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="3">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 !== list.t5) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="4">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 !== list.t6) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="5">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 !== list.t7) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="6">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 !== list.t8) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="7">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 !== list.t9) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="8">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 === list.t9) && (list.t1 !== list.t10) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="9">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 === list.t9) && (list.t1 === list.t10) && (list.t1 !== list.t11) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="10">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 === list.t9) && (list.t1 === list.t10) && (list.t1 === list.t11) && (list.t1 !== list.t12) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="11">{{list.t1}}</td>
                <td *ngIf="((list.t1 === list.t2) && (list.t1 === list.t3) && (list.t1 === list.t4) && (list.t1 === list.t5) && (list.t1 === list.t6) && (list.t1 === list.t7) && (list.t1 === list.t8) && (list.t1 === list.t9) && (list.t1 === list.t10) && (list.t1 === list.t11) && (list.t1 === list.t12) && (list.t1 != '' && list.t1 !== null)) "
                    class="dataTable" colspan="12">{{list.t1}}</td>

                <td *ngIf="list.t2 == '' || !list.t2" class="nondataTable">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 !== list.t3) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 !== list.t4) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="2">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 !== list.t5) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="3">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 !== list.t6) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="4">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 !== list.t7) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="5">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 !== list.t8) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="6">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 !== list.t9) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="7">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 === list.t9) && (list.t2 !== list.t10) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="8">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 === list.t9) && (list.t2 === list.t10) && (list.t2 !== list.t11) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="9">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 === list.t9) && (list.t2 === list.t10) && (list.t2 === list.t11) && (list.t2 !== list.t12) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="10">{{list.t2}}</td>
                <td *ngIf="((list.t2 !== list.t1) && (list.t2 === list.t3) && (list.t2 === list.t4) && (list.t2 === list.t5) && (list.t2 === list.t6) && (list.t2 === list.t7) && (list.t2 === list.t8) && (list.t2 === list.t9) && (list.t2 === list.t10) && (list.t2 === list.t11) && (list.t2 === list.t12) && (list.t2 != '' && list.t2 !== null)) "
                    class="dataTable" colspan="11">{{list.t2}}</td>

                <td *ngIf="list.t3 == '' || !list.t3" class="nondataTable">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 !== list.t4) && (list.t3 != '' && list.t3 !== null))"
                    class="dataTable">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 !== list.t5) && (list.t3 != '' && list.t3 !== null))"
                    class="dataTable" colspan="2">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 !== list.t6) && (list.t3 != '' && list.t3 !== null))"
                    class="dataTable" colspan="3">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 !== list.t7) && (list.t3 != '' && list.t3 !== null))"
                    class="dataTable" colspan="4">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                    && (list.t3 !== list.t8) && (list.t3 != '' && list.t3 !== null))" class="dataTable"
                    colspan="5">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                    && (list.t3 === list.t8) && (list.t3 !== list.t9) && (list.t3 != '' && list.t3 !== null))"
                    class="dataTable" colspan="6">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                    && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 !== list.t10) && (list.t3 != '' && list.t3 !== null))"
                    class="dataTable" colspan="7">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                    && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 === list.t10) && (list.t3 !== list.t11) && (list.t3 != '' && list.t3 !== null))"
                    class="dataTable" colspan="8">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                    && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 === list.t10) && (list.t3 === list.t11) && (list.t3 !== list.t12) && (list.t3 != '' && list.t3 !== null))"
                    class="dataTable" colspan="9">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                    && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 === list.t10) && (list.t3 === list.t11) && (list.t3 === list.t12)
                     && (list.t3 != '' && list.t3 !== null))" class="dataTable" colspan="10">{{list.t3}}</td>
                <td *ngIf="((list.t3 !== list.t2) && (list.t3 === list.t4) && (list.t3 === list.t5) && (list.t3 === list.t6) && (list.t3 === list.t7)
                    && (list.t3 === list.t8) && (list.t3 === list.t9) && (list.t3 === list.t10) && (list.t3 === list.t11) && (list.t3 === list.t12)
                    &&(list.t3 != '' && list.t3 !== null))" class="dataTable" colspan="10">{{list.t3}}</td>

                <td *ngIf="list.t4 == '' || !list.t4" class="nondataTable">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 !== list.t5) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 !== list.t6) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable" colspan="2">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 !== list.t7) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable" colspan="3">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 !== list.t8) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable" colspan="4">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 !== list.t9) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable" colspan="5">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 === list.t9) && (list.t4 !== list.t10) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable" colspan="6">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 === list.t9) && (list.t4 === list.t10) && (list.t4 !== list.t11) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable" colspan="7">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 === list.t9) && (list.t4 === list.t10) && (list.t4 === list.t11) && (list.t4 !== list.t12) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable" colspan="8">{{list.t4}}</td>
                <td *ngIf="((list.t4 !== list.t3) && (list.t4 === list.t5) && (list.t4 === list.t6) && (list.t4 === list.t7) && (list.t4 === list.t8) && (list.t4 === list.t9) && (list.t4 === list.t10) && (list.t4 === list.t11) && (list.t4 === list.t12) && (list.t4 != '' && list.t4 !== null))"
                    class="dataTable" colspan="9">{{list.t4}}</td>

                <td *ngIf="list.t5 == '' || !list.t5" class="nondataTable">{{list.t5}}</td>
                <td *ngIf="((list.t5 !== list.t4) && (list.t5 !== list.t6) && (list.t5 != '' && list.t5 !== null))"
                    class="dataTable">{{list.t5}}</td>
                <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 !== list.t7) && (list.t5 != '' && list.t5 !== null))"
                    class="dataTable" colspan="2">{{list.t5}}</td>
                <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 !== list.t8) && (list.t5 != '' && list.t5 !== null))"
                    class="dataTable" colspan="3">{{list.t5}}</td>
                <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 !== list.t9) && (list.t5 != '' && list.t5 !== null))"
                    class="dataTable" colspan="4">{{list.t5}}</td>
                <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 === list.t9)
                    && (list.t5 !== list.t10) && (list.t5 != '' && list.t5 !== null))" class="dataTable"
                    colspan="5">{{list.t5}}</td>
                <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 === list.t9)
                    && (list.t5 === list.t10) && (list.t5 !== list.t11) && (list.t5 != '' && list.t5 !== null))"
                    class="dataTable" colspan="6">{{list.t5}}</td>
                <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 === list.t9)
                    && (list.t5 === list.t10) && (list.t5 === list.t11) && (list.t5 !== list.t12) && (list.t5 != '' && list.t5 !== null))"
                    class="dataTable" colspan="7">{{list.t5}}</td>
                <td *ngIf="((list.t5 !== list.t4) && (list.t5 === list.t6) && (list.t5 === list.t7) && (list.t5 === list.t8) && (list.t5 === list.t9)
                    && (list.t5 === list.t10) && (list.t5 === list.t11) && (list.t5 === list.t12) && (list.t5 != '' && list.t5 !== null))"
                    class="dataTable" colspan="8">{{list.t5}}</td>

                <td *ngIf="list.t6 == '' || !list.t6" class="nondataTable">{{list.t6}}</td>
                <td *ngIf="((list.t6 !== list.t5) && (list.t6 !== list.t7) && (list.t6 != '' && list.t6 !== null)) "
                    class="dataTable">{{list.t6}}</td>
                <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 !== list.t8) && (list.t6 != '' && list.t6 !== null)) "
                    class="dataTable" colspan="2">{{list.t6}}</td>
                <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 !== list.t9) && (list.t6 != '' && list.t6 !== null)) "
                    class="dataTable" colspan="3">{{list.t6}}</td>
                <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 === list.t9) && (list.t6 !== list.t10) && (list.t6 != '' && list.t6 !== null)) "
                    class="dataTable" colspan="4">{{list.t6}}</td>
                <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 === list.t9) && (list.t6 === list.t10) && (list.t6 !== list.t11) && (list.t6 != '' && list.t6 !== null)) "
                    class="dataTable" colspan="5">{{list.t6}}</td>
                <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 === list.t9) && (list.t6 === list.t10) && (list.t6 === list.t11) && (list.t6 !== list.t12) && (list.t6 != '' && list.t6 !== null)) "
                    class="dataTable" colspan="6">{{list.t6}}</td>
                <td *ngIf="((list.t6 !== list.t5) && (list.t6 === list.t7) && (list.t6 === list.t8) && (list.t6 === list.t9) && (list.t6 === list.t10) && (list.t6 === list.t11) && (list.t6 === list.t12) && (list.t6 != '' && list.t6 !== null)) "
                    class="dataTable" colspan="7">{{list.t6}}</td>

                <td *ngIf="list.t7 == '' || !list.t7" class="nondataTable">{{list.t7}}</td>
                <td *ngIf="((list.t7 !== list.t6) && (list.t7 !== list.t8) && (list.t7 != '' && list.t7 !== null)) "
                    class="dataTable">{{list.t7}}</td>
                <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 !== list.t9) && (list.t7 != '' && list.t7 !== null)) "
                    class="dataTable" colspan="2">{{list.t7}}</td>
                <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 === list.t9) && (list.t7 !== list.t10) && (list.t7 != '' && list.t7 !== null)) "
                    class="dataTable" colspan="3">{{list.t7}}</td>
                <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 === list.t9) && (list.t7 === list.t10) && (list.t7 !== list.t11) && (list.t7 != '' && list.t7 !== null)) "
                    class="dataTable" colspan="4">{{list.t7}}</td>
                <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 === list.t9) && (list.t7 === list.t10) && (list.t7 === list.t11) && (list.t7 !== list.t12) && (list.t7 != '' && list.t7 !== null)) "
                    class="dataTable" colspan="5">{{list.t7}}</td>
                <td *ngIf="((list.t7 !== list.t6) && (list.t7 === list.t8) && (list.t7 === list.t9) && (list.t7 === list.t10) && (list.t7 === list.t11) && (list.t7 === list.t12) && (list.t7 != '' && list.t7 !== null)) "
                    class="dataTable" colspan="6">{{list.t7}}</td>

                <td *ngIf="list.t8 == '' || !list.t8" class="nondataTable">{{list.t8}}</td>
                <td *ngIf="((list.t8 !== list.t7) && (list.t8 !== list.t9) && (list.t8 != '' && list.t8 !== null)) "
                    class="dataTable">{{list.t8}}</td>
                <td *ngIf="((list.t8 !== list.t7) && (list.t8 === list.t9) && (list.t8 !== list.t10) && (list.t8 != '' && list.t8 !== null)) "
                    class="dataTable" colspan="2">{{list.t8}}</td>
                <td *ngIf="((list.t8 !== list.t7) && (list.t8 === list.t9) && (list.t8 === list.t10) && (list.t8 !== list.t11) && (list.t8 != '' && list.t8 !== null)) "
                    class="dataTable" colspan="3">{{list.t8}}</td>
                <td *ngIf="((list.t8 !== list.t7) && (list.t8 === list.t9) && (list.t8 === list.t10) && (list.t8 === list.t11) && (list.t8 !== list.t12) && (list.t8 != '' && list.t8 !== null)) "
                    class="dataTable" colspan="4">{{list.t8}}</td>
                <td *ngIf="((list.t8 !== list.t7) && (list.t8 === list.t9) && (list.t8 === list.t10) && (list.t8 === list.t11) && (list.t8 === list.t12) && (list.t8 != '' && list.t8 !== null)) "
                    class="dataTable" colspan="5">{{list.t8}}</td>

                <td *ngIf="list.t9 =='' || !list.t9" class="nondataTable">{{list.t9}}</td>
                <td *ngIf="((list.t9 !== list.t8) && (list.t9 !== list.t10) && (list.t9 != '' && list.t9 !== null)) "
                    class="dataTable">{{list.t9}}</td>
                <td *ngIf="((list.t9 !== list.t8) && (list.t9 === list.t10) && (list.t9 !== list.t11) && (list.t9 != '' && list.t9 !== null)) "
                    class="dataTable" colspan="2">{{list.t9}}</td>
                <td *ngIf="((list.t9 !== list.t8) && (list.t9 === list.t10) && (list.t9 === list.t11) && (list.t9 !== list.t12) && (list.t9 != '' && list.t9 !== null)) "
                    class="dataTable" colspan="3">{{list.t9}}</td>
                <td *ngIf="((list.t9 !== list.t8) && (list.t9 === list.t10) && (list.t9 === list.t11) && (list.t9 === list.t12) && (list.t9 != '' && list.t9 !== null)) "
                    class="dataTable" colspan="4">{{list.t9}}</td>

                <td *ngIf="list.t10 == '' || !list.t10" class="nondataTable">{{list.t10}}</td>
                <td *ngIf="((list.t10 !== list.t9) && (list.t10 !== list.t11) && (list.t10 != '' && list.t10 !== null)) "
                    class="dataTable">{{list.t10}}</td>
                <td *ngIf="((list.t10 !== list.t9) && (list.t10 === list.t11) && (list.t10 !== list.t12) && (list.t10 != '' && list.t10 !== null)) "
                    class="dataTable" colspan="2">{{list.t10}}</td>
                <td *ngIf="((list.t10 !== list.t9) && (list.t10 === list.t11) && (list.t10 === list.t12) && (list.t10 != '' && list.t10 !== null)) "
                    class="dataTable" colspan="3">{{list.t10}}</td>

                <td *ngIf="list.t11 == '' || !list.t11" class="nondataTable">{{list.t11}}</td>
                <td *ngIf="((list.t11 !== list.t10) && (list.t11 !== list.t12) && (list.t11 != '' && list.t11 !== null)) "
                    class="dataTable">{{list.t11}}</td>
                <td *ngIf="((list.t11 !== list.t10) && (list.t11 === list.t12) && (list.t11 != '' && list.t11 !== null)) "
                    class="dataTable" colspan="2">{{list.t11}}</td>

                <td *ngIf="list.t12 == '' || !list.t12" class="nondataTable">{{list.t12}}</td>
                <td *ngIf="((list.t12 !== list.t11) && (list.t12 != '' && list.t12 !== null)) " class="dataTable">
                    {{list.t12}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
<div style="margin: 50px 400px 20px 400px;">
    <nz-table nzShowPagination=false #ShowListDeailQ [nzData]="DetailApproveQ" [nzBordered]='true'>
        <thead>
          <tr>
            <th colspan="4">รายละเอียดการจอง</th>
          </tr>
          <tr>
            <th class="text-center">บริการ</th>
            <th class="text-center">ช่าง</th>
            <th class="text-center">เวลา</th>
            <th class="text-center">กิจกรรม</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ShowListDeailQ.data">
            <td class="text-center">{{ data.service_id }}</td>
            <td class="text-center" *ngIf="data.Nickname1 == null || data.Nickname1=='null'">ไม่มี</td>
            <td class="text-center" *ngIf="data.Nickname1 != null && data.Nickname1!='null'">{{ data.Nickname1 }}</td>
            <td class="text-center">{{ data.start_dt.substring(0,5)}}-{{ data.finish_dt.substring(0,5)}}น.</td>
            <td class="text-center">
                    <i nz-icon nz-tooltip *ngIf="data.barber_id == null || data.barber_id === 'null' || data.barber_id==='' "
                    nzTitle="เพิ่มช่าง" class="icon" nzType="user-add" nzTheme="outline"
                    (click)="openModal(data)" style="color: green"></i>&nbsp;
                    <i nz-icon nz-tooltip 
                    nzTitle="ลบรายละเอียดของคิว" class="icon" nzType="delete" nzTheme="outline"
                    (click)="DeleteQueueDetail(data)" style="color: rgb(175, 1, 1)"></i>&nbsp;
          </td>
          </tr>
        </tbody>
      </nz-table>
  </div>

           
