<div class="container-fluid">
    <h3>การลาเเละวันหยุด</h3>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21">
        </div>
        <div nz-col nzSpan="3" style="text-align:right">
            <button nz-button nzType="default" (click)="openModal('new',{})">
                <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
            </button>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <nz-table #HolidayListDataTable [nzData]=" HolidayListData" style="width:100%" [nzBordered]="true">
            <thead>
                <tr>
                    <th class="text-center">ประเภทวันหยุด</th>
                    <th class="text-center">ต่อเดือน</th>
                    <th class="text-center">ต่อปี</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of HolidayListDataTable.data">
                    <td class="text-center"><span>{{list.vac_type}}</span></td>
                    <td class="text-center"><span>{{list.MonthMax}} วัน</span></td>
                    <td class="text-center"><span>{{list.yearMax}} วัน</span></td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon" style="color: green"
                            (click)="openModal('edit',list)" [theme]="'outline'"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'"
                            (click)="deleteHoliday(list)" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>