.gallery {
    margin: 28.5px;
    border: 1px solid #ccc;
    float: left;
    width: 470px;
    height: 370px;
  }
  
  .gallery:hover {
    opacity: 0.8;
    transform: scale(1.01);
  }
  
  .gallery img {
    width: 100%;
    height: 80%;
  }
  
  .desc {
    padding: 11px;
    text-align: center;
  }