<nz-table [nzData]="ShowListBranchData" [nzPageSize]="8" style="overflow-y: auto;overflow-x: hidden"
    [nzLoading]="isLoading">
    <thead>
        <h3>สาขา</h3>
        <hr>
    </thead>
    <tbody>
        <div class="gallery" *ngFor="let list of ShowListBranchData"
            [routerLink]="['../../BranchDetail',list.branch_id]">
            <a target="_blank">
                <img style="padding: 5px" src="{{list.img1}}">
            </a>
            <div class="desc"> <b>{{list.name}}</b>
            </div>
        </div>
    </tbody>
</nz-table>