<form nz-form>
    <div *ngIf="typeComponent==='new'">
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>ชื่อช่าง</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select [(ngModel)]="Barber_ID" name="Barber_ID" id="Barber_ID" nzPlaceHolder="กรุณาเลือกช่าง"
                    (ngModelChange)="CheckHolidayPrivateBarber(Barber_ID)">
                    <nz-option *ngFor="let data of ShowListBarber" [nzValue]="data.username"
                        nzLabel="{{data.firstname}} {{data.lastname}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div *ngIf="typeComponent==='edit'">
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>ชื่อช่าง</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select [(ngModel)]="Barber_ID" name="Barber_ID" id="Barber_ID" nzPlaceHolder="กรุณาเลือกช่าง"
                    (ngModelChange)="CheckHolidayPrivateBarber(Barber_ID)" nzDisabled>
                    <nz-option  *ngFor="let data of ShowListBarber" [nzValue]="data.username"
                        nzLabel="{{data.firstname}} {{data.lastname}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div>
        <nz-form-item *ngIf="typeComponent==='new'">
            <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>ประเภทการลา</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select [(ngModel)]="LeaveType" name="LeaveType" id="LeaveType" nzPlaceHolder="เลือกประเภท">
                    <nz-option *ngFor="let data of HolidayList" [nzValue]="data.leave_type_id"
                        [nzLabel]="data.vac_type">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div>
        <nz-form-item *ngIf="typeComponent==='edit'">
            <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>ประเภทการลา</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select [(ngModel)]="LeaveType" name="LeaveType" id="LeaveType" nzPlaceHolder="เลือกประเภท" nzDisabled>
                    <nz-option *ngFor="let data of HolidayList" [nzValue]="data.leave_type_id"
                        [nzLabel]="data.vac_type">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>

    <nz-form-item *ngIf="typeComponent==='new'">
        <nz-form-label [nzSpan]="6" nzFor="detail" nzRequired><span>รายละเอียด</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <textarea rows="4" nz-input maxlength="150" name="detail" id="detail" [(ngModel)]="detail"
                placeholder="เนื้อหา"></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="typeComponent==='edit'">
        <nz-form-label [nzSpan]="6" nzFor="detail" nzRequired><span>รายละเอียด</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <textarea rows="4" nz-input maxlength="150" name="detail" id="detail" [(ngModel)]="detail"
                placeholder="เนื้อหา" [disabled]="true"></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="detail" nzRequired><span>เลือกวัน</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-range-picker [(ngModel)]="Date" name="Date" id="Date" [nzFormat]="dateFormat"
                [nzDisabledDate]="disabledDate"></nz-range-picker>
        </nz-form-control>
    </nz-form-item>

</form>
<div>
    <nz-table #Table [nzData]="CheckHolidayPrivateBarberdata"  *ngIf="CheckHolidayPrivateBarberdata?.length>0" [nzBordered]="true" [nzShowPagination]="false"> 
        <thead>
            <tr>
                <th class="text-center" colspan="2" rowspan="3">ประเภทการลา</th>
                <th class="text-center" colspan="2">เดือน</th>
                <th class="text-center" colspan="2">ปี</th>
            </tr>
            <tr>
                <th class="text-center">จำนวนที่ลา</th>
                <th class="text-center">สูงสุด</th>
                <th class="text-center">จำนวนที่ลา</th>
                <th class="text-center">สูงสุด</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Table.data">
                <td colspan="2">{{data.vac_type}}</td>
                <td>{{data.MONTH}}</td>
                <td>{{data.MonthMax}}</td>
                <td>{{data.YEAR}}</td>
                <td>{{data.yearMax}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>