<form nz-form *ngIf="typeComponent==='new'">
    <div>
        <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span> บริการ</span></nz-form-label>
            <nz-form-control [nzSpan]="16">
                <nz-select [(ngModel)]="service_name" name="service_name" id="service_name" nzPlaceHolder="กรุณาเลือกบริการ"
                    style="width: 230px">
                    <nz-option *ngFor="let data of GetShowListService" [nzValue]="data.name" [nzLabel]="data.name">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>แต้ม</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-input-number [(ngModel)]="Max_point" nzPlaceHolder="จำนวนแต้ม" name="Max_point" id="Max_point" [nzMin]="1" [nzMax]="10"
                [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
</form>
<form nz-form *ngIf="typeComponent==='edit'">
        <div>
            <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>บริการ</span></nz-form-label>
                <nz-form-control [nzSpan]="16">
                    <nz-select nzDisabled [(ngModel)]="service_name" name="service_name" id="service_name" nzPlaceHolder="กรุณาเลือกบริการ"
                        style="width: 230px">
                        <nz-option *ngFor="let data of GetShowListService" [nzValue]="data.name" [nzLabel]="data.name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="" nzRequired><span>แต้ม</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-input-number [(ngModel)]="Max_point" nzPlaceHolder="จำนวนแต้ม" name="Max_point" id="Max_point" [nzMin]="1" [nzMax]="10"
                    [nzStep]="1"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
    </form>