<nz-table #Table [nzData]="Detaildata" [nzBordered]="true">
    <thead>
      <tr>
        <th class="text-center">วันที่</th>
        <th class="text-center">รายละเอียดคิว</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of Table.data">
        <td class="text-center">{{data.queue_dt | date:'dd-MM-yyyy'}}</td>
        <td class="text-center">
            <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
            (click)="Detail(data)" ></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
