<form nz-form>
    <nz-form-item>
            <nz-form-label [nzSpan]="6" > <span>รูปภาพ</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card"
            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 10" [nzShowUploadList]="showUploadList"
            [nzPreview]="handlePreview">
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">เพิ่มรูปภาพ</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
            <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
        </nz-modal>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="title" nzRequired><span>หัวข้อ</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input name="title" id="title" maxlength="40" [(ngModel)]="title" placeholder="กรุณาใส่หัวข้อ">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="type" nzRequired><span>ประเภท</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-select [(ngModel)]="InformationType" name="InformationType" id="InformationType" nzPlaceHolder="ประเภท">
                <nz-option nzValue="0" nzLabel="ข่าวสาร"></nz-option>
                <nz-option nzValue="1" nzLabel="โปรโมชั่น"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="detail" nzRequired><span>เนื้อหา</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <textarea rows="4" nz-input name="detail" id="detail" maxlength="300" [(ngModel)]="detail" placeholder="กรุณาใส่เนื้อหา"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired><span>สถานะ</span></nz-form-label>
        <nz-form-control [nzSm]="14">
            <label nz-checkbox name="ActiveCheckbox" [(ngModel)]="ActiveCheckbox">
                <span>แสดงข้อมูล</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>