<div>
    <div style="display: flex;flex-direction: row-reverse">
        <nz-form-item>
            <nz-form-control [nzSpan]="16">
                <nz-select  style="width: 277.66px;" [(ngModel)]="UserType" name="UserType" id="UserType" nzPlaceHolder="UserType"
                    (ngModelChange)="GetServiceList($event)">
                    <nz-option nzValue="0" nzLabel="เจ้าของร้าน"></nz-option>
                    <nz-option nzValue="1" nzLabel="ผู้จัดการสาขา"></nz-option>
                    <nz-option nzValue="2" nzLabel="ช่างสระ"></nz-option>
                    <nz-option nzValue="3" nzLabel="ช่างซอย"></nz-option>
                    <nz-option nzValue="4" nzLabel="ลูกค้า"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div>
        <nz-tabset [nzAnimated]="false">
            <nz-tab nzTitle="ข้อมูลส่วนตัว">
                <nz-form-item style="margin: 20px 43%;">
                    <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card"
                        [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1"
                        [nzShowUploadList]="showUploadList" [nzPreview]="handlePreview">
                        <i nz-icon nzType="plus"></i>
                        <div class="ant-upload-text">เพิ่มรูปโปรไฟล์</div>
                    </nz-upload>
                    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                        (nzOnCancel)="previewVisible = false">
                        <ng-template #modalContent>
                            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                        </ng-template>
                    </nz-modal>
                </nz-form-item>
                <div nz-row>
                    <div nz-col nzSpan="12" *ngIf="typeComponent ==='new'">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>ไอดี</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <input nz-input name="username" id="username" [(ngModel)]="username" placeholder="ไอดี">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12" *ngIf="typeComponent ==='edit'">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>ไอดี</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <input nz-input name="username" id="username" [(ngModel)]="username" placeholder="ไอดี"  [disabled]="true">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12" *ngIf="typeComponent ==='new'">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>รหัสผ่าน</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <input nz-input type="password" name="password" id="password" [(ngModel)]="password"
                                    placeholder="รหัสผ่าน">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>ชื่อจริง</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <input nz-input name="firstname" maxlength="20" id="firstname" [(ngModel)]="firstname"
                                    placeholder="ชื่อจริง">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>นามสกุล</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <input nz-input name="lastname" maxlength="20" id="lastname" [(ngModel)]="lastname"
                                    placeholder="นามสกุล">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>ชื่อเล่น</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <input nz-input name="nickname" maxlength="10" id="nickname" [(ngModel)]="nickname"
                                    placeholder="ชื่อเล่น">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>วันเกิด</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <nz-date-picker nzFormat="dd-MM-yyyy" nzPlaceHolder="เลือกวันเกิด" name="date_of_birth?"
                                    id="date_of_birth?" [(ngModel)]="date_of_birth" [nzDisabledDate]="disabledDate">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>เบอร์โทร</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <input nz-input name="phone_number" maxlength="10" id="phone_number"
                                    [(ngModel)]="phone_number" placeholder="เบอร์โทรศัพท์">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="title" nzRequired><span>อีเมล</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <input nz-input name="Email" maxlength="30" id="Email" [(ngModel)]="Email"
                                    placeholder="อีเมล">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <nz-form-item>
                    <nz-form-label style="text-align: center;" [nzSm]="3" nzRequired><span>เพศ</span></nz-form-label>
                    <nz-form-control [nzSm]="14">
                        <nz-radio-group [(ngModel)]="gender" name="gender" id="gender">
                            <label nz-radio [nzValue]="0">ชาย</label>
                            <label nz-radio [nzValue]="1">หญิง</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label style="text-align: center;" [nzSpan]="3" nzFor="name" nzRequired><span>ที่อยู่</span></nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="address" maxlength="30" id="address" [(ngModel)]="address"
                            placeholder="ที่อยู่">
                    </nz-form-control>
                </nz-form-item>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="type" nzRequired><span>จังหวัด</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <nz-select style="width: 277.66px;" nzShowSearch nzAllowClear [(ngModel)]="province_id" name="province_id"
                                    id=" province_id" nzPlaceHolder="จังหวัด" (ngModelChange)="ShowAmphur($event)">
                                    <nz-option *ngFor="let data of ProvinceData" [nzValue]="data.province_id"
                                        [nzLabel]="data.province_name"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="type" nzRequired><span>อำเภอ</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <nz-select  style="width: 277.66px;" [nzDisabled]="DisabledAmphurData" nzShowSearch nzAllowClear
                                    [(ngModel)]="Amphur_id" name="Amphur_id" id="Amphur_id" nzPlaceHolder="อำเภอ"
                                    (ngModelChange)="ShowDistrict($event)">
                                    <nz-option *ngFor="let data of AmphurData" [nzValue]="data.amphur_id"
                                        [nzLabel]="data.amphur_name"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="type" nzRequired><span>ตำบล</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <nz-select  style="width: 277.66px;" [nzDisabled]="DisabledDistrictData" nzShowSearch nzAllowClear
                                    [(ngModel)]="District_id" name="District_id" id="District_id" nzPlaceHolder="ตำบล"
                                    (ngModelChange)="ShowZipcode($event)">
                                    <nz-option *ngFor="let data of DistrictData" [nzValue]="data.district_id"
                                        [nzLabel]="data.district_name"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label style="text-align: center;" [nzSpan]="6" nzFor="type"><span>รหัสไปรษณีย์</span></nz-form-label>
                            <nz-form-control [nzSpan]="14">
                                <nz-select  style="width: 277.66px;"  [nzDisabled]="DisabledZipcodeData" nzShowSearch
                                    nzAllowClear [(ngModel)]="Zipcode_id" name="Zipcode_id" id="Zipcode_id"
                                    nzPlaceHolder="รหัสไปรษณีย์">
                                    <nz-option *ngFor="let data of ZipcodeData" [nzValue]="data.zipcode_id"
                                        [nzLabel]="data.zipcode"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                    <nz-form-item>
                        <nz-form-label style="text-align: center;" [nzSm]="4" nzRequired><span>สถานะเข้าสู่ระบบ</span></nz-form-label>
                        <nz-form-control [nzSm]="14">
                            <label nz-checkbox name="StatusCheckbox" [(ngModel)]="StatusCheckbox">
                                <span>อนุญาติ</span>
                            </label>
                        </nz-form-control>
                    </nz-form-item>

            </nz-tab>
            <nz-tab nzTitle="ตั้งค่า" *ngIf="UserType === '1' || UserType === '2' || UserType === '3'">
                <!-- ///////////////////////////////////////////////////// -->
                <div nz-row *ngIf="UserType === '2'" nzSpan="10" class="height-100">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" nzRequired><span>ทักษะ</span></nz-form-label>
                        <nz-form-control [nzSm]="14">
                            <nz-select [(ngModel)]="SkillArr" name="SkillArr" id="SkillArr" nzMode="tags"
                                [nzTokenSeparators]="[',']" style="width: 100%;" nzPlaceHolder="เลือกทักษะของช่าง"
                                [nzSize]='large'>
                                <nz-option *ngFor="let option of ServiceData" [nzLabel]="option.name"
                                    [nzValue]="option.name">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row *ngIf="UserType === '3'">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" nzRequired><span>ทักษะ</span></nz-form-label>
                        <nz-form-control [nzSm]="14">
                            <nz-select [(ngModel)]="SkillArr" name="SkillArr" id="SkillArr" nzMode="tags"
                                [nzTokenSeparators]="[',']" style="width: 100%;" nzPlaceHolder="เลือกทักษะของช่าง"
                                [nzSize]='large'>
                                <nz-option *ngFor="let option of ServiceData" [nzLabel]="option.name"
                                    [nzValue]="option.name">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <!-- //////////////////////////////////////////////////////////////////////// -->
                <div>
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" nzRequired><span>สังกัดสาขา</span></nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-select [(ngModel)]="branch_id" style="width: 100%;" name="branch_id" id="branch_id"
                                nzPlaceHolder="ชื่อสาขา">
                                <nz-option *ngFor="let data of BranchData" [nzValue]="data.branch_id"
                                    [nzLabel]="data.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item *ngIf="UserType === '2' || UserType === '3'">
                            <nz-form-label [nzSm]="10" nzRequired><span>สถานะ</span></nz-form-label>
                            <nz-form-control [nzSm]="14">
                                <label nz-checkbox name="ActiveCheckbox" [(ngModel)]="ActiveCheckbox">
                                    <span>แสดงข้อมูล</span>
                                </label>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12" *ngIf="UserType === '2' || UserType === '3'">
                        <nz-form-item>
                            <nz-form-label [nzSm]="6"><span>ประกันสังคม</span></nz-form-label>
                            <nz-form-control [nzSm]="14">
                                <label nz-checkbox name="status_soc" [(ngModel)]="status_soc">
                                    <span>ทำประกัน</span>
                                </label>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
</div>