.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
}

.ex2 {
    border: 1px solid black;
    outline-style: double;
    outline-color: green;
}

.ex3 {
    border: 1px solid black;
    outline-style: outset;
    outline-color: yellow;
}
form {
    max-width: 600px;
  }

  nz-input-number {
    margin-right: 8px;
    width:auto;
  }