<h3>ตั้งค่าเกี่ยวกับช่างเสริมสวย</h3>
<hr>
<nz-descriptions nzBordered>
    <nz-descriptions-item nzTitle="เวลาเข้างาน" [nzSpan]="4">
        <nz-time-picker [(ngModel)]="time" nzFormat="HH:mm" [nzAllowEmpty]="false" style="width:auto">
        </nz-time-picker> โมง
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="หักเงิน" [nzSpan]="4">
        <nz-input-number [(ngModel)]="time_s" name="time_s" id="time_s" [nzMin]="1" [nzMax]="100" [nzStep]="1">
        </nz-input-number> บาท/นาที
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="ประกันร้านสุทธิ" [nzSpan]="4">
        <nz-input-number [(ngModel)]="Shop_insurance" name="Shop_insurance" id="Shop_insurance" [nzMin]="0"
            [nzMax]="100000" [nzStep]="500"></nz-input-number> บาท
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="ประกันร้าน" [nzSpan]="4">
        <nz-input-number [(ngModel)]="Shop_insurance_month" name="Shop_insurance_month" id="Shop_insurance_month"
            [nzMin]="0" [nzMax]="1000" [nzStep]="100">
        </nz-input-number> บาท/เดือน
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="ประกันสังคม" [nzSpan]="4">
        <nz-input-number [(ngModel)]="Social_Security_mon" name="Social_Security_mon" id="Social_Security_mon"
            [nzMin]="1" [nzMax]="2000" [nzStep]="10"></nz-input-number> บาท/เดือน
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="กิจกรรม" [nzSpan]="4">
        <button nz-button nzType="primary" (click)="submitFormSetting()">ยืนยันการตั้งค่า</button>&nbsp;
        <button nz-button (click)="resetFormSetting()">ล้างข้อมูล</button>
    </nz-descriptions-item>
</nz-descriptions>
<br><br>
<nz-descriptions nzBordered>
    <nz-descriptions-item nzTitle="เงินเดือนช่างสระ" [nzSpan]="2">
        <nz-input-number   [(ngModel)]="BarberLV2" name="BarberLV2" id="BarberLV2" [nzMin]="1" [nzMax]="100000"
            [nzStep]="500"></nz-input-number> บาท/เดือน
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="ช่างสระขาดงาน" [nzSpan]="2">
        <nz-input-number [(ngModel)]="AwolLv2" name="AwolLv2" id="AwolLv2" [nzMin]="1" [nzMax]="100000" [nzStep]="500">
        </nz-input-number> บาท
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="เปอร์เซ็นของช่างสระ" [nzSpan]="4">
        <nz-input-number [(ngModel)]="ValueBarberLV2" name="ValueBarberLV2" id="ValueBarberLV2" [nzMin]="1"
            [nzMax]="100" [nzStep]="1"></nz-input-number> %
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="เงินเดือนช่างซอย" [nzSpan]="2">
            <nz-input-number [(ngModel)]="BarberLV3" name="BarberLV3" id="BarberLV3" [nzMin]="1"
            [nzMax]="100000" [nzStep]="500"></nz-input-number> บาท/เดือน
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="ช่างซอยขาดงาน" [nzSpan]="2">
            <nz-input-number [(ngModel)]="AwolLv3" name="AwolLv3" id="AwolLv3" [nzMin]="1" [nzMax]="100000"
            [nzStep]="500"></nz-input-number> บาท
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="เปอร์เซ็นของช่างซอย" [nzSpan]="4">
            <nz-input-number [(ngModel)]="ValueBarberLV3" name="ValueBarberLV3" id="ValueBarberLV3" [nzMin]="1"
            [nzMax]="100" [nzStep]="1"></nz-input-number> %
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="กิจกรรม" [nzSpan]="4">
            <button nz-button nzType="primary" (click)="submitFormSalary()">ยืนยันการตั้งค่า</button>&nbsp;
            <button nz-button (click)="resetFormSalary()">ล้างข้อมูล</button>
    </nz-descriptions-item>
</nz-descriptions>