<div class="container-fluid">
    <h3>ติดต่อสอบถาม</h3>
    <hr>
    <div class="row">
        <nz-table #DataTable [nzData]="QuestionList" style="width: 100%" [nzBordered]="true" [nzLoading]="isLoading">
            <thead>
                <tr>
                    <th class="text-center">ชื่อ</th>
                    <th class="text-center">อีเมล</th>
                    <th class="text-center">หัวข้อ</th>
                    <th class="text-center">วันที่</th>
                    <th class="text-center">ผู้ตอบ</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of DataTable.data">
                    <td class="text-center"><span>{{list.name}}</span></td>
                    <td class="text-center"><span>{{list.email}}</span></td>
                    <td class="text-center"><span>{{list.title}}</span></td>
                    <td class="text-center"><span>{{list.question_dt | date:"dd-MM-yyyy"}}</span></td>
                    <td class="text-center" *ngIf="list.res_id != null"><span>{{list.res_id}}</span></td>
                    <td class="text-center" *ngIf="list.res_id == null"><i nz-icon [nzType]="'sync'"
                            [nzSpin]="true" nz-tooltip nzTitle="ยังไม่ได้ตอบ" style="color: crimson;"></i></td>
                    <td class="text-center" *ngIf="list.answer == null">
                        <button nz-button nzType="dashed" (click)="openModal(list,'ON')">
                            <i nz-icon nz-tooltip nzTitle="ตอบกลับ" nzType="wechat" class="icon" style="color: green"
                                [theme]="'outline'"></i>ตอบ</button>&nbsp;
                    </td>
                    <td class="text-center" *ngIf="list.answer != null">
                        <button nz-button nzType="dashed" (click)="openModal(list,'OFF')">
                            <i nz-icon nz-tooltip nzTitle="ตอบกลับ" nzType="wechat" class="icon"
                                style="color: rgb(134, 134, 134)" [theme]="'outline'"></i>ดู</button>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>