<form nz-form>
    <div style="border-style: dashed;padding: 10px;">
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label><span>ชื่อ-นามสกุล</span></nz-form-label>
                <nz-form-control>
                    <input nz-input [disabled]="true" [(ngModel)]="name" id="name" name="name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label><span>อีเมล</span></nz-form-label>
                <nz-form-control>
                    <input nz-input [disabled]="true" [(ngModel)]="email" id="email" name="email" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label><span>เบอร์โทรศัพท์</span></nz-form-label>
                <nz-form-control>
                    <input nz-input [disabled]="true" [(ngModel)]="phone" id="phone" name="phone" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label><span>หัวข้อ</span></nz-form-label>
                <nz-form-control>
                    <input nz-input [disabled]="true" [(ngModel)]="title" id="title" name="title" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
            <div nz-col nzSpan="12"><nz-form-item>
                    <nz-form-label><span>เรื่อง</span></nz-form-label>
                    <nz-form-control>
                        <input nz-input [disabled]="true" [(ngModel)]="subject" name="subject" id="subject" />
                    </nz-form-control>
                </nz-form-item></div>
            <div nz-col nzSpan="12"></div>
          </div>
    <nz-form-item>
        <nz-form-label><span>รายละเอียด</span></nz-form-label>
        <nz-form-control>
            <textarea nz-input [disabled]="true" [nzAutosize]="{ minRows: 4, maxRows: 4 }" [(ngModel)]="question" name="question"
                id="question"></textarea>
        </nz-form-control>
    </nz-form-item>
</div>
<nz-form-item *ngIf="Type==='ON'">
        <nz-form-label nzRequired><span>ตอบกลับ</span></nz-form-label>
        <nz-form-control>
            <textarea nz-input maxlength="200"  placeholder="ข้อความตอบกลับไปยังผู้สอบถาม" [nzAutosize]="{ minRows: 4, maxRows: 4 }" [(ngModel)]="answer"  name="answer"
                id="answer"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="Type==='OFF'">
            <nz-form-label nzRequired><span>ตอบกลับ</span></nz-form-label>
            <nz-form-control>
                <textarea nz-input  [disabled]="true"  [nzAutosize]="{ minRows: 4, maxRows: 4 }" [(ngModel)]="answer" name="answer"
                    id="answer"></textarea>
            </nz-form-control>
        </nz-form-item>
</form>