<div style="border-style: solid;">
    <div *ngIf="Length==1">
        <form nz-form>
            <div nz-row style="padding-top: 30px;">
                <div nz-col nzSpan="8"></div>
                <div nz-col nzSpan="12">
                    <label>สาขา:&nbsp;</label>
                    <nz-rate [(ngModel)]="feedback_branch" name="feedback_branch" id="feedback_branch"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="feedback_branch"
                        class="ant-rate-text">{{ feedback_branch ? tooltips[feedback_branch - 1] : '' }}</span>
                </div>
                <div nz-col ></div>
            </div>
            <div nz-row class="pad">
                <div nz-col nzSpan="12">
                    <label>ช่าง{{Barber1}}:</label>&nbsp;
                    <nz-rate [(ngModel)]="Feedback_barber_1" name="Feedback_barber_1" id="Feedback_barber_1"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_barber_1"
                        class="ant-rate-text">{{ Feedback_barber_1 ? tooltips[Feedback_barber_1 - 1] : '' }}</span>
                </div>
                <div nz-col nzSpan="12">
                    <label>บริการ{{Service1}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_service_1" name="Feedback_service_1" id="Feedback_service_1"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_service_1"
                        class="ant-rate-text">{{ Feedback_service_1 ? tooltips[Feedback_service_1 - 1] : '' }}</span>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="Length==2">
        <form nz-form>
            <div nz-row style="padding: 30px;">
                <div nz-col nzSpan="8"></div>
                <div nz-col nzSpan="12">
                    <label>สาขา:</label>&nbsp;
                    <nz-rate [(ngModel)]="feedback_branch" name="feedback_branch" id="feedback_branch"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="feedback_branch"
                        class="ant-rate-text">{{ feedback_branch ? tooltips[feedback_branch - 1] : '' }}</span>
                </div>
                <div nz-col></div>
            </div>
            <div nz-row class="pad">
                <div nz-col nzSpan="12">
                    <label>ช่าง{{Barber1}}:</label>&nbsp;
                    <nz-rate [(ngModel)]="Feedback_barber_1" name="Feedback_barber_1" id="Feedback_barber_1"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_barber_1"
                        class="ant-rate-text">{{ Feedback_barber_1 ? tooltips[Feedback_barber_1 - 1] : '' }}</span>
                </div>
                <div nz-col nzSpan="12">
                    <label>บริการ{{Service1}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_service_1" name="Feedback_service_1" id="Feedback_service_1"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_service_1"
                        class="ant-rate-text">{{ Feedback_service_1 ? tooltips[Feedback_service_1 - 1] : '' }}</span>
                </div>
            </div>
            <div nz-row class="pad">
                <div nz-col nzSpan="12">
                    <label>ช่าง{{Barber2}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_barber_2" name="Feedback_barber_2" id="Feedback_barber_2"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_barber_2"
                        class="ant-rate-text">{{ Feedback_barber_2 ? tooltips[Feedback_barber_2 - 1] : '' }}</span>

                </div>
                <div nz-col nzSpan="12">
                    <label>บริการ{{Service2}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_service_2" name="Feedback_service_2" id="Feedback_service_2"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_service_2"
                        class="ant-rate-text">{{ Feedback_service_2 ? tooltips[Feedback_service_2 - 1] : '' }}</span>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="Length==3">
        <form nz-form>
            <div nz-row style="padding-top: 30px;">
                <div nz-col nzSpan="8"></div>
                <div nz-col nzSpan="12">
                    <label>สาขา:&nbsp;</label>
                    <nz-rate [(ngModel)]="feedback_branch" name="feedback_branch" id="feedback_branch"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="feedback_branch"
                        class="ant-rate-text">{{ feedback_branch ? tooltips[feedback_branch - 1] : '' }}</span>
                </div>
                <div nz-col ></div>
            </div>
            <div nz-row class="pad">
                <div nz-col nzSpan="12">
                    <label>ช่าง{{Barber1}}:</label>&nbsp;
                    <nz-rate [(ngModel)]="Feedback_barber_1" name="Feedback_barber_1" id="Feedback_barber_1"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_barber_1"
                        class="ant-rate-text">{{ Feedback_barber_1 ? tooltips[Feedback_barber_1 - 1] : '' }}</span>
                </div>
                <div nz-col nzSpan="12">
                    <label>บริการ{{Service1}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_service_1" name="Feedback_service_1" id="Feedback_service_1"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_service_1"
                        class="ant-rate-text">{{ Feedback_service_1 ? tooltips[Feedback_service_1 - 1] : '' }}</span>
                </div>
            </div>
            <div nz-row class="pad">
                <div nz-col nzSpan="12">
                    <label>ช่าง{{Barber2}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_barber_2" name="Feedback_barber_2" id="Feedback_barber_2"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_barber_2"
                        class="ant-rate-text">{{ Feedback_barber_2 ? tooltips[Feedback_barber_2 - 1] : '' }}</span>
                </div>
                <div nz-col nzSpan="12">
                    <label>บริการ{{Service2}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_service_2" name="Feedback_service_2" id="Feedback_service_2"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_service_2"
                        class="ant-rate-text">{{ Feedback_service_2 ? tooltips[Feedback_service_2 - 1] : '' }}</span>
                </div>
            </div>
            <div nz-row class="pad">
                <div nz-col nzSpan="12">
                    <label>ช่าง{{Barber3}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_barber_3" name="Feedback_barber_3" id="Feedback_barber_3"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_barber_3"
                        class="ant-rate-text">{{ Feedback_barber_3 ? tooltips[Feedback_barber_3 - 1] : '' }}</span>
                </div>
                <div nz-col nzSpan="12">
                    <label>บริการ{{Service3}}:&nbsp;</label>
                    <nz-rate [(ngModel)]="Feedback_service_3" name="Feedback_service_3" id="Feedback_service_3"
                        [nzTooltips]="tooltips"></nz-rate>
                    <span *ngIf="Feedback_service_3"
                        class="ant-rate-text">{{ Feedback_service_3 ? tooltips[Feedback_service_3 - 1] : '' }}</span>
                </div>
            </div>
        </form>
    </div>

</div>