<div class="container-fluid">
    <h3>สถานะการจองคิว</h3>
    <hr>
    <div style="margin-bottom: 20px">
        <nz-date-picker [(ngModel)]="today" id="today" name="today" [nzAllowClear]='false' [nzFormat]="'dd-MM-yyyy'"
            [nzDisabledDate]="disabledDate" (ngModelChange)="searchQueueUser($event)"
            nzPlaceHolder="เลือกวันที่จะทำการจอง"></nz-date-picker>
    </div>
    <div class="row">
        <nz-table #DataTable [nzData]="StatusQueueUserdata" style="width: 100%" [nzBordered]="true"
            *ngIf="StatusQueueUserdata?.length!=0">
            <thead>
                <tr>
                    <th class="text-center">วันที่</th>
                    <th class="text-center">ราคา</th>
                    <th class="text-center">เวลา</th>
                    <th class="text-center">สถานะ</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of DataTable.data">
                    <td class="text-center"><span>{{list.queue_dt | date:"dd-MMM-yyyy"}}</span></td>
                    <td class="text-center"><span>{{list.total_money}} บาท</span></td>
                    <td class="text-center"><span>{{list.total_time }} ชม.</span></td>
                    <td class="text-center">
                        <div *ngIf="list.status_confirm==0">
                            <div class="icons-list">
                                <i nz-icon nz-tooltip nzTitle="รอการอนุมัติ" [nzType]="'sync'" [nzSpin]="true"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                        <div *ngIf="list.status_confirm==1">
                            <div class="icons-list">
                                <i nz-icon nz-tooltip nzTitle="อนุมัติแล้ว" [type]="'check-circle'" [theme]="'twotone'"
                                    [twoToneColor]="'#52c41a'" style="font-size: 24px;"></i>
                            </div>
                        </div>
                        <div *ngIf="list.status_confirm==2">
                            <div class="icons-list">
                                <i nz-icon nz-tooltip nzTitle="ปฏิเสธ" [type]="'close-circle'" [theme]="'twotone'"
                                    [twoToneColor]="'#f70c0c'" style="font-size: 24px;"></i>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                            (click)="OpenDetail(list)"></i>&nbsp;
                        <i nz-icon nzType="close" nz-tooltip nzTitle="ยกเลิก" class="icon" nzTheme="outline"
                            (click)="CancelQueue(list)" *ngIf="list.status_confirm==0" style="color: crimson;"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>