<h3>สรุปการยกเลิกคิวของลูกค้า</h3>
<hr>
<div nz-row>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="12">
        <form (ngSubmit)="CancelService()">
                <div class="row">
                        <div class="col-lg-4 col-md-2">
                                <nz-year-picker [(ngModel)]="today" id="today" name="today" nzPlaceHolder="เลือกปี" [nzAllowClear]='false' (click)="Reset()"></nz-year-picker>
                        </div>
                        <div class="col-lg-3 col-md-3">
                                <nz-select  nzShowSearch nzPlaceHolder="เลือกสาขา" [(ngModel)]="Branch_id"
                                id="Branch_id" name="Branch_id" (click)="Reset()">
                                <nz-option *ngFor="let data of Branchdata" [nzLabel]="data.name" [nzValue]="data.branch_id">
                                </nz-option>
                            </nz-select>
                        </div>
                        <div class="col-6 col-md-2">
                                <button  nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                                    nzType="search"></i>ค้นหา</button>
                        </div>
                      </div>
        </form>
    </div>
    <div nz-col nzSpan="6"></div>
</div>
<br>
<div nz-row>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="12">
        <nz-table #Table [nzData]="CancelServicedata" [nzBordered]="true" *ngIf="CancelServicedata?.length!=0">
            <thead>
                <tr>
                    <th class="text-center">ชื่อลูกค้า</th>
                    <th class="text-center">จำนวน</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of Table.data">
                    <td class="text-center"><span>{{data.firstname}} {{data.lastname}}</span></td>
                    <td class="text-center"><span>{{data.count}}</span></td>
                    <td class="text-center"><button nz-button nzType="dashed" (click)="DetailFrom(data)">รายละเอียด</button></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div nz-col nzSpan="6"></div>
</div>