<div>
    <div>

        <div nz-row>
            <h5>คุณ {{firstname}} {{lastname}}</h5>
            <div nz-col nzSpan="8">
                <div style="margin-right:10px;">
                    <div>
                    </div>
                    <div style="border-style: double;">
                        <img src="{{img_profile}}" style="width:100%;height:100%">
                    </div>
                </div>
            </div>
            <div style="padding:5px" nz-col nzSpan="16">
                <nz-table #Point [nzData]="Pointdata" [nzPageSize]='4' [nzSize]="small">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="5">การสะสมแต้มของลูกค้า</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of Point.data ;let i = index" >
                            <td class="text-center">บริการ&nbsp;{{data.service_id}}</td>
                            <td class="text-center">ค่าบริการ&nbsp;{{data.service_charge.toLocaleString('en-us', { minimumFractionDigits: 0 })}}&nbsp;บาท</td>
                            <td class="text-center" nz-tooltip nzTitle="สะสมให้ครบ {{data.Maxpoint}} แต้ม" *ngIf="data.SUMPoint!=null && data.SUMPoint!=0 && data.Maxpoint!=null">
                                มี&nbsp;{{data.SUMPoint}}&nbsp;แต้ม</td>

                                <td class="text-center" nz-tooltip nzTitle="บริการนี้ไม่มีโปรโมชั่น" *ngIf="data.SUMPoint!=null && data.SUMPoint!=0 && data.Maxpoint==null">
                                        มี&nbsp;{{data.SUMPoint}}&nbsp;แต้ม</td>
                                
                                <td class="text-center" *ngIf="data.SUMPoint==null || data.SUMPoint==0" style="color: red">ไม่มีแต้ม</td>
                            <td class="text-center">
                                <button nz-button nzType="danger" nzShape="circle" (click)="UsePoint(data,i)" nz-tooltip
                                    nzTitle="ใช้แต้ม" *ngIf="data.SUMPoint>=data.Maxpoint && data.Maxpoint!=null && CheckServicePoint[i]!=false"><i nz-icon nzType="gift"
                                        nzTheme="outline"></i></button>
                                <button nz-button nzType="danger" nzShape="circle" nz-tooltip nzTitle="ยังไม่ครบ"
                                    disabled *ngIf="data.SUMPoint<data.Maxpoint && data.SUMPoint!=null"><i nz-icon nzType="gift"
                                        nzTheme="outline"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
    <br>
    <div style="border: solid;padding: 10px">
        <span>รายละเอียดการใช้บริการ</span>
        <nz-table #DetailQueue [nzData]="DetailQueuedata" [nzFrontPagination]='false' [nzBordered]='true'>
            <thead>
                <tr>
                    <th class="text-center">บริการ</th>
                    <th class="text-center">ช่าง</th>
                    <th class="text-center">เวลา</th>
                    <th class="text-center">ราคา</th>
                    <th class="text-center">เพิ่มเงิน</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of DetailQueue.data" >
                    <td class="text-center">{{data.service_id}}</td>
                    <td class="text-center">{{data.Nickname1}}</td>
                    <td class="text-center">{{data.take_time}}&nbsp;ชม.</td>
                    <td class="text-center">{{data.service_charge.toLocaleString('en-us', { minimumFractionDigits: 0 })}}&nbsp;บาท</td>
                    <td class="text-center" *ngIf="data.add_money!=0">{{data.add_money.toLocaleString('en-us', { minimumFractionDigits: 0 })}}&nbsp;บาท</td>
                    <td class="text-center" *ngIf="data.add_money==0">ไม่มี</td>
                    <td class="text-center"><button nz-button nzType="dashed"
                            (click)="OpenAddDetailFrom(data)">เพิ่มเติม</button></td>
                </tr>
                <tr>
                    <td colspan="5" class="text-center">ยอดรวมทั้งหมด</td>
                    <td class="text-center">{{SumMoneyAll}} บาท</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>