<h3>สรุปรายได้ของแต่ละสาขา</h3>
<hr>
<div nz-row>
        <div nz-col nzSpan="3">
            <nz-month-picker [(ngModel)]="today"  [nzAllowClear]="false" (ngModelChange)="GetRevenue()" nzPlaceHolder="กรุณาเลือกเดือน" [nzFormat]="'MM/yyyy'"></nz-month-picker>
        </div>
</div>
<br>
<div nz-row>
    <div nz-col nzSpan="12"  *ngIf="Checklength!=0">
        <nz-table #Table [nzData]="Revenuedata" [nzShowPagination]="false" [nzBordered]="true"> 
            <thead>
                <tr>
                    <th  class="text-center">ชื่อสาขา</th>
                    <th  class="text-center">จำนวนเงิน</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of Table.data">
                    <td  class="text-center"><span>{{data.Branch}}</span></td>
                    <td  class="text-center"><span>{{data.MoneytoMonth.toLocaleString('en-us', {minimumFractionDigits: 0})}} บาท</span></td>
            </tbody>
        </nz-table>
    </div>
    <div nz-col nzSpan="12" >
        <div style="display: block" *ngIf="Checklength!=0">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
        </div>
    </div>
</div>