<div class="container-fluid">
    <h3>รายจ่ายช่าง</h3>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21">
            <form nz-form (ngSubmit)="search()">
                <div class="row">
                    <div class="col-6 col-md-2">
                        <nz-select  [(ngModel)]="username" name="username" id="username"
                            nzPlaceHolder="กรุณาเลือกช่าง">
                            <nz-option nzValue="" nzLabel="ช่างทั้งหมด"></nz-option>
                            <nz-option *ngFor="let data of GetShowlistExpenses" [nzValue]="data.username"
                                nzLabel="{{data.firstname}} {{data.lastname}}">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div class="col-6 col-md-2">
                        <nz-select  [(ngModel)]="selectedtypeExpenses" name="selectedtypeExpenses"
                            id="selectedtypeExpenses" nzPlaceHolder="ประเภทร่ายจ่าย">
                            <nz-option nzValue="" nzLabel="รายการทั้งหมด"></nz-option>
                            <nz-option nzValue="0" nzLabel="เคมี"></nz-option>
                            <nz-option nzValue="1" nzLabel="อุปกรณ์"></nz-option>
                            <nz-option nzValue="2" nzLabel="ค่าห้อง"></nz-option>
                            <nz-option nzValue="3" nzLabel="ประกันร้าน"></nz-option>
                            <nz-option nzValue="4" nzLabel="ขาดงาน"></nz-option>
                        </nz-select>
                    </div>
                    <div class="col-6 col-md-2">
                        <button nz-button nzType="primary"><i class="icon-center" nz-icon
                                nzType="search"></i>ค้นหา</button>
                    </div>
                </div>
            </form>
        </div>
        <div nz-col nzSpan="3" style="text-align:right">
            <button nz-button nzType="default" (click)="openModal('new',{})">
                <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
            </button>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <nz-table #ExpensesDataTable [nzData]="ShowListExpensesData" style="width: 100%" [nzBordered]="true"
            [nzLoading]="isLoading" *ngIf="ShowListExpensesData?.length>0">
            <thead>
                <tr>
                    <th class="text-center">ชื่อช่าง</th>
                    <th class="text-center">หัวข้อ</th>
                    <th class="text-center" nzWidth="20%">รายละเอียด</th>
                    <th class="text-center">ราคา</th>
                    <th class="text-center">วันที่</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of ExpensesDataTable.data">
                    <td><span>{{list.firstname}} {{list.lastname}}</span></td>
                    <td class="text-center" *ngIf="list.type == 0"><span>เคมี</span></td>
                    <td class="text-center" *ngIf="list.type == 1"><span>อุปกรณ์</span></td>
                    <td class="text-center" *ngIf="list.type == 2"><span>ค่าห้อง</span></td>
                    <td class="text-center" *ngIf="list.type == 3"><span>ประกันร้าน</span></td>
                    <td class="text-center" *ngIf="list.type == 4"><span>ขาดงาน</span></td>
                    <td class="text-center">
                        <div
                            style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                        <span>{{list.Detail}}</span></div>
                    </td>
                    <td class="text-center"><span>{{list.money}}</span></td>
                    <td class="text-center"><span>{{list?.time_stamp | date:'dd-MM-yyyy'}}</span></td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                            (click)="Detail(list)" style="margin-right: 5px;margin-left: 5px"></i>
                        <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon"
                            (click)="openModal('edit',list)" [theme]="'outline'" *ngIf="list.type != 4"
                            style="margin-right: 5px;margin-left: 5px;color: green"></i>
                        <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'"
                            (click)="DeleteListExpenses(list)" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"
                            style="margin-right: 5px;margin-left: 5px"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>