.gallery {
    margin: 48px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
  }
  
  .gallery:hover {
    opacity: 0.8;
    transform: scale(1.01);
  }
  
  .gallery img {
    width: 252px;
    height: 334px;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }