<h3>ช่างเสริมสวย</h3>
<hr>
<nz-select style="width: 20%" [(ngModel)]="selectedValue" nzPlaceHolder="Choose" (ngModelChange)="Filter($event)">
    <nz-option nzValue="" nzLabel="สาขาทั้งหมด"></nz-option>
    <nz-option *ngFor="let data of BranchList" [nzValue]="data.branch_id" [nzLabel]="data.name"></nz-option>
</nz-select>
<br><br>

<nz-table #ShowListBarberTable [nzData]="ShowListBarberCome" [nzPageSize]="8"
    style="overflow-y: auto;overflow-x: hidden" [nzLoading]="isLoading" *ngIf="ShowListBarberCome?.length!=0">
    <tbody>
        <div class="gallery" *ngFor="let list of ShowListBarberTable.data"
            [routerLink]="['../../BarberDetail',list.username]">
            <div style="border: 3px solid rgb(9, 240, 59);">
                <a target="_blank">
                    <div style="padding:5px 20px 0px 20px">
                        <img style="border: .5px solid rgb(65, 63, 63)"  src="{{list.img_profile}}">
                    </div>
                </a>
                <div class="desc"><b>ช่าง {{list.nickname}}</b> <br>
                </div>
            </div>
        </div>
    </tbody>
</nz-table>

<nz-table #BarberNoCome [nzData]="ShowListBarberNoCome" [nzPageSize]="8" style="overflow-y: auto;overflow-x: hidden"
    [nzLoading]="isLoading" *ngIf="ShowListBarberNoCome?.length!=0">
    <tbody>
        <div class="gallery" *ngFor="let list of BarberNoCome.data"
            [routerLink]="['../../BarberDetail',list.username]">
            <div style="border: 3px solid #f50;">
                <a target="_blank">
                    <div style="padding:5px 20px 0px 20px">
                        <img style="border: .5px solid rgb(65, 63, 63) ;background-size: 10px auto;" src="{{list.img_profile}}">
                    </div>
                </a>
                <div class="desc"><b>ช่าง {{list.nickname}}</b> <br>
                </div>
            </div>
        </div>
    </tbody>
</nz-table>