<h3>ตั้งค่าเเต้มเพื่อรับสิทธิ</h3>
<hr>
<div class="row">
    <div nz-col nzSpan="24" style="text-align:right;margin-bottom: 10px">
        <button nz-button nzType="default" (click)="openModal('new',{})">
            <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
        </button>
    </div>
    <nz-table #ServiceSettingPoint [nzData]="ServiceSettingPointData" style="width: 100%" [nzBordered]="true"
        [nzLoading]="isLoading">
        <thead>
            <tr>
                <th class="text-center" nzWidth="20%">ชื่อบริการ</th>
                <th class="text-center">เเต้มสูงสุดเพื่อรับสิทธิ</th>
                <th class="text-center">กิจกรรม</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of ServiceSettingPoint.data">
                <td class="text-center">
                    <div
                        style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                       <span>{{list.service_name}}</span></div>
                </td>
                <td class="text-center"><span>เมื่อสะสมครบ {{list.Max_point}} แต้ม ฟรี 1 ครั้ง</span></td>

                <td class="text-center">

                    <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon" style="color: green"
                        (click)="openModal('edit',list)" [theme]="'outline'"></i>&nbsp;
                    <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'" (click)="deteleSericr(list)"
                        [theme]="'twotone'" [twoToneColor]="'#f70c0c'"></i>&nbsp;
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>