<div class="container-fluid">
    <h3>จัดการข้อมูลบริการ</h3>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21">
            <form nz-form (ngSubmit)="search()">
                <div class="row">
                    <div class="col-6 col-md-2">
                        <input nz-input [(ngModel)]="criterianameservice" name="criterianameservice"
                            id="criterianameservice" placeholder="กรุณาใส่ชื่อบริการ" />
                    </div>
                    <div class="col-6 col-md-2">
                        <nz-select [(ngModel)]="selectedtype" name="selectedtype" id="selectedtype"
                            nzPlaceHolder="Choose">
                            <nz-option nzValue="" nzLabel="บริการทั้งหมด"></nz-option>
                            <nz-option nzValue="0" nzLabel="บริการทำผม"></nz-option>
                            <nz-option nzValue="1" nzLabel="บริการทำเล็บ"></nz-option>
                            <nz-option nzValue="2" nzLabel="บริการทำหน้า"></nz-option>
                        </nz-select>
                    </div>
                    <div class="col-6 col-md-2">
                        <button nz-button nzType="primary"><i class="icon-center" nz-icon
                                nzType="search"></i>ค้นหา</button>
                    </div>
                </div>
            </form>
        </div>
        <div nz-col nzSpan="3" style="text-align:right">
            <button nz-button nzType="default" (click)="openModal('new',{})">
                <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
            </button>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <nz-table #ServiceDataTable [nzData]="ShowListServiceData" style="width: 100%" [nzBordered]="true"
            [nzLoading]="isLoading" *ngIf="ShowListServiceData.length>0">
            <thead>
                <tr>
                    <th class="text-center" nzWidth="20%">ชื่อบริการ</th>
                    <th class="text-center">ประเภท</th>
                    <th class="text-center" nzWidth="20%">รายละเอียด</th>
                    <th class="text-center">สถานะ</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of ServiceDataTable.data">
                    <td class="text-center">
                        <div
                            style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                            <span>{{list.name}}</span></div>
                    </td>
                    <td class="text-center" *ngIf="list.type == 0" style="color:#00CC99"><span>บริการทำผม</span></td>
                    <td class="text-center" *ngIf="list.type == 1" style="color:#0033FF"><span>บริการทำเล็บ</span></td>
                    <td class="text-center" *ngIf="list.type == 2" style="color:#660099"><span>บริการทำหน้า</span></td>
                    <td class="text-center">
                        <div
                            style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: left ">
                        <span>{{list.detail}}</span></div>
                    </td>
                    <td [nzAlign]="'center'">
                        <div *ngIf="list.active === 'Y'">
                            <div class="icons-list">
                                <i nz-icon [type]="'check-circle'" [theme]="'twotone'" [twoToneColor]="'#52c41a'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                        <div *ngIf="list.active === 'N'">
                            <div class="icons-list">
                                <i nz-icon [type]="'close-circle'" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                            [routerLink]="['../../ServiceDetail',list.name]"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon" style="color: green"
                            (click)="openModal('edit',list)" [theme]="'outline'"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'" (click)="DeleteService(list)"
                            [theme]="'twotone'" [twoToneColor]="'#f70c0c'"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>