<div class="container-fluid">
    <h3>คิวงาน</h3>
    <hr>
    <div style="margin-bottom: 20px">
        <nz-date-picker [(ngModel)]="today" [nzFormat]="'dd-MM-yyyy'" [nzAllowClear]="false" (ngModelChange)="GetQueuePrivateBarber()"></nz-date-picker>
    </div>
    <div class="row">
        <nz-table #DataTable [nzData]="QueuePrivateBarberdata" style="width: 100%" [nzBordered]="true"
            [nzLoading]="isLoading">
            <thead>
                <tr>
                    <th class="text-center">วันที่</th>
                    <th class="text-center">บริการ</th>
                    <th class="text-center">เวลาเริ่ม</th>
                    <th class="text-center">เวลาสิ้นสุด</th>
                    <th class="text-center">สถานะ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of DataTable.data">
                    <td class="text-center"><span>{{list.queue_dt | date:"dd-MM-yyyy"}}</span></td>
                    <td class="text-center"><span>{{list.service_id}}</span></td>
                    <td class="text-center"><span>{{list.start_dt.substring(0,5)}} น.</span></td>
                    <td class="text-center"><span>{{list.finish_dt.substring(0,5)}} น.</span></td>
                    <td [nzAlign]="'center'">
                        <div *ngIf="list.status_come==0" >
                            <div class="icons-list">
                                    <i nz-icon nzType="user" nz-tooltip nzTitle="ลูกค้ายังไม่มา" nzTheme="outline" style="font-size: 24px;color: rgb(235, 228, 228)"></i>
                            </div>
                        </div>
                        <div *ngIf="list.status_come==1" >
                            <div class="icons-list">
                                <i nz-icon nzType="user" nz-tooltip nzTitle="ลูกค้ามาแล้ว" nzTheme="outline" style="font-size: 24px;color: chartreuse"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>