<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" style="width: 100%">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isLoadingOne">เข้าสู่ระบบ</button>
        </nz-form-control>
    </nz-form-item>
</form>