<div *ngIf="type==='service'">
    <nz-table #FeedbackServiceTable [nzData]="FeedbackServicedata" [nzBordered]="true" [nzShowPagination]="true">
        <thead>
            <tr>
                <th class="text-center">ชื่อบริการ</th>
                <th class="text-center">ผลการประเมินเฉลี่ย</th>
                <th class="text-center">ผลการประเมินเฉลี่ยต่อช่าง</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of FeedbackServiceTable.data">
                <td class="text-center">{{data.name}}</td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedService" nzAllowHalf nzDisabled></nz-rate>
                </td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedBarber" nzAllowHalf nzDisabled></nz-rate>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
<div *ngIf="type==='barber'">
    <nz-table #FeedbackBarberTable [nzData]="FeedbackBarberdata" [nzBordered]="true" [nzShowPagination]="true">
        <thead>
            <tr>
                <th class="text-center">ชื่อช่าง</th>
                <th class="text-center">ผลการประเมินเฉลี่ย</th>
                <th class="text-center">ผลการประเมินเฉลี่ยต่อบริการ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of FeedbackBarberTable.data">
                <td class="text-center">{{data.nickname}}</td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.FeedBarber" nzAllowHalf nzDisabled></nz-rate>
                </td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedService" nzAllowHalf nzDisabled></nz-rate>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>