<h3>ผลประเมินความพึงพอใจ</h3>
<hr>
<!-- ผลตอบรับของสาขา -->
<div style="padding: 25px" *ngIf="SeleteType==1">
    <div class="row">
        <div nz-col nzSpan="20">
            <form (ngSubmit)="SeleteTypeReport()">
                <div nz-col nzSpan="5">
                    <nz-select style="width: 100%;" nzPlaceHolder="เลือกประเภทรายงาน" [(ngModel)]="SeleteType"
                        id="SeleteType" name="SeleteType">
                        <nz-option nzLabel="ผลประเมินสาขา" [nzValue]="1"></nz-option>
                        <nz-option nzLabel="ผลประเมินบริการ" [nzValue]="2"></nz-option>
                        <nz-option nzLabel="ผลประเมินช่างเสริมสวย" [nzValue]="3"></nz-option>
                    </nz-select>
                </div>
                <div nz-col nzSpan="8" style="margin-left: 20px">
                    <nz-range-picker [nzAllowClear]='false' [(ngModel)]="date" id="date" name="date"
                        [nzFormat]="'dd-MM-yyyy'" (ngModelChange)="Reset()">
                    </nz-range-picker>
                </div>
                <div nz-col nzSpan="2" style="margin-left: 20px">
                    <button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                            nzType="search"></i>ค้นหา</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <nz-table #FeedbackBranchTable [nzData]="FeedbackBranchdata" [nzBordered]="true" [nzShowPagination]="true"
        *ngIf="FeedbackBranchdata?.length>0">
        <thead>
            <tr>
                <th class="text-center">ชื่อสาขา</th>
                <th class="text-center">ผลการประเมินเฉลี่ยของสาขา</th>
                <th class="text-center">ผลการประเมินเฉลี่ยต่อช่าง</th>
                <th class="text-center">ผลการประเมินเฉลี่ยต่อบริการ</th>
                <th class="text-center">กิจกรรม</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of FeedbackBranchTable.data">
                <td class="text-center">{{data.branch_name}}</td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedbackbranch" nzAllowHalf nzDisabled></nz-rate>
                </td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedbackService" nzAllowHalf nzDisabled></nz-rate>
                </td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedbackBarber" nzAllowHalf nzDisabled></nz-rate>
                </td>

                <td class="text-center">
                    <i nz-icon nzType="bank" nzTheme="outline" nz-tooltip nzTitle="รายละเอียดสาขา" class="icon"
                        style="color: rgb(9, 64, 194)" (click)="DetailFromReport(data,'branch')"></i>&nbsp;
                    <i nz-icon nzType="team" nz-tooltip nzTitle="รายละเอียดช่าง" class="icon" style="color: green"
                        nzTheme="outline" (click)="DetailFromBarberServiceOfBranch(data,'barber')"></i>&nbsp;
                    <i nz-icon nzType="scissor" nzTheme="outline" nz-tooltip nzTitle="รายละเอียดบริการ" class="icon"
                        style="color: rgb(240, 137, 3)"
                        (click)="DetailFromBarberServiceOfBranch(data,'service')"></i>&nbsp;
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
<!-- ผลตอบรับของบริการ -->
<div style="padding: 25px" *ngIf="SeleteType==2">
    <div class="row">
        <div nz-col nzSpan="20">
            <form (ngSubmit)="SeleteTypeReport()">
                    <div nz-col nzSpan="5">
                            <nz-select style="width: 100%;" nzPlaceHolder="เลือกประเภทรายงาน" [(ngModel)]="SeleteType"
                                id="SeleteType" name="SeleteType">
                                <nz-option nzLabel="ผลประเมินสาขา" [nzValue]="1"></nz-option>
                                <nz-option nzLabel="ผลประเมินบริการ" [nzValue]="2"></nz-option>
                                <nz-option nzLabel="ผลประเมินช่างเสริมสวย" [nzValue]="3"></nz-option>
                            </nz-select>
                        </div>
                <div nz-col nzSpan="8" style="margin-left: 20px">
                    <nz-range-picker [nzAllowClear]='false' [(ngModel)]="date" id="date" name="date"
                        [nzFormat]="'dd-MM-yyyy'" (ngModelChange)="Reset()">
                    </nz-range-picker>
                </div>
                <div nz-col nzSpan="4" style="margin-left: 20px" *ngIf="this.USER.levelUsers == 0">
                    <nz-select nzPlaceHolder="เลือกสาขา" [(ngModel)]="Branch_id" id="Branch_id" name="Branch_id"
                        (ngModelChange)="Reset()">
                        <nz-option *ngFor="let data of Branchdata" [nzLabel]="data.name" [nzValue]="data.branch_id">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col nzSpan="2" style="margin-left: 20px">
                    <button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                            nzType="search"></i>ค้นหา</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <nz-table #FeedbackServiceTable [nzData]="FeedbackServicedata" [nzBordered]="true" [nzShowPagination]="true"
        *ngIf="FeedbackServicedata?.length>0">
        <thead>
            <tr>
                <th class="text-center">ชื่อบริการ</th>
                <th class="text-center">ผลการประเมินเฉลี่ย</th>
                <th class="text-center">ผลการประเมินเฉลี่ยต่อช่าง</th>
                <th class="text-center">กิจกรรม</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of FeedbackServiceTable.data">
                <td class="text-center">{{data.name}}</td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedService" nzAllowHalf nzDisabled></nz-rate>
                </td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedBarber" nzAllowHalf nzDisabled></nz-rate>
                </td>
                <td class="text-center">
                    <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                        (click)="DetailFromReport(data,'service')"></i>&nbsp;
                    <i nz-icon nzType="team" nz-tooltip nzTitle="รายละเอียดช่าง" class="icon" style="color: green"
                        nzTheme="outline" (click)="DetailFromBarberService(data,'barber')"></i>&nbsp;
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
<!-- ผลตอบรับของช่าง -->
<div style="padding: 25px" *ngIf="SeleteType==3">
    <div class="row">
        <div nz-col nzSpan="20">
            <form (ngSubmit)="SeleteTypeReport()">
                    <div nz-col nzSpan="5">
                            <nz-select style="width: 100%;" nzPlaceHolder="เลือกประเภทรายงาน" [(ngModel)]="SeleteType"
                                id="SeleteType" name="SeleteType">
                                <nz-option nzLabel="ผลประเมินสาขา" [nzValue]="1"></nz-option>
                                <nz-option nzLabel="ผลประเมินบริการ" [nzValue]="2"></nz-option>
                                <nz-option nzLabel="ผลประเมินช่างเสริมสวย" [nzValue]="3"></nz-option>
                            </nz-select>
                        </div>
                <div nz-col nzSpan="8" style="margin-left: 20px">
                    <nz-range-picker [nzAllowClear]='false' [(ngModel)]="date" id="date" name="date"
                        [nzFormat]="'dd-MM-yyyy'" (ngModelChange)="Reset()">
                    </nz-range-picker>
                </div>
                <div nz-col nzSpan="4" style="margin-left: 20px" *ngIf="this.USER.levelUsers == 0">
                    <nz-select nzPlaceHolder="เลือกสาขา" [(ngModel)]="Branch_id" id="Branch_id" name="Branch_id"
                        (ngModelChange)="Reset()">
                        <nz-option *ngFor="let data of Branchdata" [nzLabel]="data.name" [nzValue]="data.branch_id">
                        </nz-option>
                    </nz-select>
                </div>
                <div nz-col nzSpan="2" style="margin-left: 20px">
                    <button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                            nzType="search"></i>ค้นหา</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <nz-table #FeedbackBarberTable [nzData]="FeedbackBarberdata" [nzBordered]="true" [nzShowPagination]="true"
        *ngIf="FeedbackBarberdata?.length>0">
        <thead>
            <tr>
                <th class="text-center">ชื่อช่าง</th>
                <th class="text-center">ผลการประเมินเฉลี่ย</th>
                <th class="text-center">ผลการประเมินเฉลี่ยต่อบริการ</th>
                <th class="text-center">กิจกรรม</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of FeedbackBarberTable.data">
                <td class="text-center">{{data.nickname}}</td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.FeedBarber" nzAllowHalf nzDisabled></nz-rate>
                </td>
                <td class="text-center">
                    <nz-rate [ngModel]="data.feedService" nzAllowHalf nzDisabled></nz-rate>
                </td>
                <td class="text-center">
                    <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                        (click)="DetailFromReport(data,'barber')"></i>&nbsp;
                    <i nz-icon nzType="scissor" nzTheme="outline" nz-tooltip nzTitle="รายละเอียดบริการ" class="icon"
                        style="color: rgb(240, 137, 3)" (click)="DetailFromBarberService(data,'service')"></i>&nbsp;

                </td>
            </tr>
        </tbody>
    </nz-table>
</div>