<div class="container-fluid">
    <h3>ยืนยันการมาใช้บริการ</h3>
    <hr>
    <div class="row">
        <nz-table #DataTable [nzData]="QueueConfrimdata" style="width: 100%" [nzBordered]="true"
            [nzLoading]="isLoading"  *ngIf="QueueConfrimdata?.length!=0">
            <thead>
                <tr>
                    <th class="text-center">ชื่อลูกค้า</th>
                    <th class="text-center">เบอร์โทรศัพท์</th>
                    <th class="text-center">วันที่</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of DataTable.data">
                    <td class="text-center">{{list.firstname}}&nbsp;{{list.lastname}}</td>
                    <td class="text-center">{{list.phone_number}}</td>
                    <td class="text-center">{{list.queue_dt | date:"dd-MMM-yyyy"}}</td>
                    <td class="text-center">
                            <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                            (click)="OpenDetail(list)"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ยืนยันการมา" [type]="'login'" class="icon" style="color: green"
                        (click)="StatusCome(list)"  [theme]="'outline'"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ไม่มา" class="icon" [type]="'close'" 
                        (click)="StatusNotCome(list)" class="icon" style="color: rgb(207, 0, 0)" ></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>