<div>
    <form nz-form>
        <div style="border-style:.5px solid rgb(224, 224, 224);padding: 20px 20px 0px 20px;">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>เพิ่มช่าง </nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select nzShowSearch nzPlaceHolder="Select a person"
                        name='barber_id' id="barber_id" [(ngModel)]="barber_id">
                        <nz-option *ngFor="let data of berServicedata" [nzValue]="data.username"
                            [nzLabel]="data.nickname"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

    </form>
    <br>
    <div>
        <nz-table #basicTable [nzData]="GetcountBarberdata" [nzBordered]='true' [nzFrontPagination]='false'>
            <thead>
                <tr>
                    <th class="text-center">ชื่อช่าง</th>
                    <th class="text-center">จำนวน</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td class="text-center">{{ data.nickname}}</td>
                    <td class="text-center">{{ data.CountQ}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>