.card {
    margin: 5px;
    border: 1px solid #DCDCDC;
    
}
.card img{
    width: 100%;
    height: 100%;
}
  
  .card:hover {
    /* opacity: 0.8;
    transform: scale(1.01); */
    border: 1px solid #00FF00;
  }

  nz-time-picker {
    margin: 0 8px 12px 0;
  }

  .login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}
  
