<h3>การเข้างาน</h3>
<hr>
<nz-card>
    <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let list of ShowListBarber">
        <div nz-row>
            <div nz-col nzSpan="12"><img width="200" height="200" nzTitle="{{list.firstname}} {{list.lastname}}" nzPlacement="top" nz-tooltip src="{{list.img_profile}}"></div>
            <div nz-col nzSpan="12">
                <div nz-row>
                    <button class="login-form-button" nz-button nzType="dashed" style="background:#436EEE;color:white;"
                        (click)="StempRealTimes(list.check_work_id)" *ngIf="list.start_work == null"><i nz-icon nzType="schedule"
                            nzTheme="outline" ></i>เข้างาน</button>
                    <button class="login-form-button" nz-button nzType="dashed"
                        disabled *ngIf="list.start_work != null && list.status_awol == 0 ">เวลาเข้างาน: {{list.start_work | date : 'HH:mm:ss'}} </button>
                        <button class="login-form-button" nz-button nzType="dashed"
                        disabled *ngIf="list.status_awol == 1 ">ไม่ได้เข้างาน</button>
                </div>
                <div nz-row>
                    <button class="login-form-button" nz-button nzType="dashed" style="background: silver;color:white;"
                        (click)="EditStempModal(list)" *ngIf="list.status_awol == 0 "> <i nz-icon [nzType]="'setting'"
                            [nzTheme]="'fill'"></i>แก้ไข</button>
                </div>
                <div nz-row>
                    <button class="login-form-button" nz-button nzType="dashed" style="background:#FFA500;color:white;"
                        (click)="AWOL(list)" *ngIf="list.status_awol==0 && list.start_work == null "><i nz-icon nzType="exclamation"
                            nzTheme="outline"></i>ขาดงาน</button>
                </div>
            </div>
        </div>
    </div>

</nz-card>



<!-- <div nz-col nzSpan="6" *ngFor="let list of ShowListBarber">
            <div class="card">
                <div nz-row>
                    <div nz-col nzSpan="10"> <img src="{{list.img_profile}}"></div>
                    <div nz-col nzSpan="14">
                        <p>{{list.firstname}} {{list.lastname}}</p>
                        <p>เข้างาน : {{list.start_work | date : 'HH:mm:ss'}} น.</p>
                        <div nz-row style="background: silver;width: 100%;height: 100%">
                            <button nz-button nzType="dashed" style="width: 50%;"
                                (click)="StempRealTimes(list.check_work_id)"><i nz-icon nzType="schedule"
                                    nzTheme="outline"></i>เข้างาน</button>
                            <button nz-button nzType="dashed" style="width: 50%;background: silver"
                                (click)="EditStempModal(list)"> <i nz-icon [nzType]="'setting'"
                                    [nzTheme]="'fill'"></i>แก้ไข</button>
                                    <button nz-button nzType="dashed" style="width: 50%;background:red"
                                    (click)="EditStempModal(list)"> <i nz-icon nzType="exclamation" nzTheme="outline"></i>ขาดงาน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->