<h3>สรุปเงินเดือนช่างเสริมสวย</h3>
<hr>
<div nz-row>
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="16">
        <form (ngSubmit)="GetSalary()"  >
            <div class="row">
                <div class="col-6 col-md-3">
                    <nz-month-picker [(ngModel)]="today" id="today" name="today" nzPlaceHolder="เลือกเดือน" [nzFormat]="'MM-yyyy'"
                    [nzAllowClear]="false" (ngModelChange)="SeleterMonth(today)">
                  </nz-month-picker>
                </div>
                <div class="col-6 col-md-3">
                    <nz-select  nzShowSearch nzPlaceHolder="เลือกสาขา" [(ngModel)]="Branch_id" id="Branch_id"
                    name="Branch_id" (ngModelChange)="SeleterBranch(Branch_id)">
                    <nz-option *ngFor="let data of Branchdata" [nzLabel]="data.name" [nzValue]="data.branch_id"></nz-option>
                  </nz-select>
                </div>
                <div class="col-6 col-md-2">
                    <button nz-button nzType="primary" type="submit"><i class="icon-center" nz-icon
                      nzType="search"></i>ค้นหา</button>
                </div>
                <div class="col-6 col-md-3">
                    <button nz-button nzType="danger" nzGhost (click)="demoFromHTML()" *ngIf="GetSalaryBarberdata?.length>0">บันทึกเป็นไฟล์.PDF</button>
                </div>
              </div>
        </form>
    </div>
    <div nz-col nzSpan="4"></div>
  </div>
    
<br>
<div nz-row>
  <div nz-col nzSpan="4"></div>
  <div nz-col nzSpan="16" id="TableSalary">
    <!-- <div nz-row nzType="flex" nzJustify="start" style="margin-bottom: 10px;">
      <div nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="สาขา">
          <nz-select style="width: 200px;" nzShowSearch nzPlaceHolder="เลือกสาขา" [(ngModel)]="Branch_id" id="Branch_id"
            name="Branch_id" [nzShowArrow]="false" nzDisabled>
            <nz-option *ngFor="let data of Branchdata" [nzLabel]="data.name" [nzValue]="data.branch_id"></nz-option>
          </nz-select>
        </nz-input-group>
      </div>
      <div nz-col nzSpan="7" >
        <nz-input-group nzAddOnBefore="รอบเดือนที่" >
            <input nz-input [(ngModel)]="MonthFrom" id="MonthFrom" name="MonthFrom"  nzSize="default" [disabled]="true" />
        </nz-input-group>
      </div>
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="2"></div>
    </div> -->
    <nz-table #Table [nzData]="GetSalaryBarberdata" [nzBordered]="true" [nzPageSize]="50" [nzShowPagination]="false"
      [nzSize]="'small'" *ngIf="GetSalaryBarberdata?.length>0">
      <thead>
        <tr [nzExpand]='true'>
          <th class="text-center" nzWidth="15%">วันที่</th>
          <th *ngFor="let item of ArrName" class="text-center" nzWidth="10%">{{item}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of Table.data" [nzExpand]='true'>
          <td *ngFor="let item of data" class="text-right"><span>{{item}}</span></td>
        </tr>

        <tr *ngFor="let datas of GetSumper" style="background: rgb(243, 241, 241);" [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of Getsalary" style="background: rgb(243, 241, 241);" [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of revenue" style="background: rgb(243, 241, 241);" [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of late" style="background: rgb(243, 241, 241); color: rgb(248, 42, 42);"
          [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of absence" style="background: rgb(243, 241, 241);color: rgb(248, 42, 42);"
          [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of chemical" style="background: rgb(243, 241, 241);color: rgb(248, 42, 42);"
          [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of Socialsecurity" style="background: rgb(243, 241, 241);color: rgb(248, 42, 42);"
          [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of rent" style="background: rgb(243, 241, 241);color: rgb(248, 42, 42);"
          [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of equipment" style="background: rgb(243, 241, 241);color: rgb(248, 42, 42);"
          [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of DeductInsurance" style="background: rgb(243, 241, 241);color: rgb(248, 42, 42);"
          [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of JobInsurance" s style="background: rgb(243, 241, 241);color: rgb(27, 121, 184);"
          [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

        <tr *ngFor="let datas of balance" style="background: rgb(103, 236, 69);" [nzExpand]='true'>
          <td *ngFor="let items of datas" class="text-right"><span>{{items}}</span></td>
        </tr>

      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="4"></div>
</div>