<div *ngIf="Type==='late'">
    <nz-table #Tablelate [nzData]="latedata" [nzBordered]="true">
        <thead>
            <tr>
                <th class="text-center">วันที่</th>
                <th class="text-center">เวลาข้างาน</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Tablelate.data">
                <td class="text-center"><span>{{data.date| date:'dd-MM-yyyy'}}</span></td>
                <td class="text-center"><span>{{data.start_work | date:'HH:mm'}} น.</span></td>
            </tr>
        </tbody>
    </nz-table>
</div>

<div *ngIf="Type==='stop'">
    <nz-table #Tablestop [nzData]="Stopdata" [nzBordered]="true">
        <thead>
            <tr>
                <th class="text-center">ประเภทการลา</th>
                <th class="text-center">วันที่เริ่มลา</th>
                <th class="text-center">วันสุดท้ายที่ลา</th>
                <th class="text-center">จำนวนวัน</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of Tablestop.data">
                <td class="text-center"><span>{{data.vac_type}}</span></td>
                <td class="text-center"><span>{{data.date_start| date:'dd-MM-yyyy'}}</span></td>
                <td class="text-center"><span>{{data.date_stop| date:'dd-MM-yyyy'}}</span></td>
                <td class="text-center"><span>{{data.total_day}}</span></td>
            </tr>
        </tbody>
    </nz-table>
</div>