.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.passenger-input {
  width: 60%;
  margin-right: 8px;
}

[nz-form] {
  max-width: 600px;
}

.add-button {
  width: 60%;
}

nz-date-picker, nz-month-picker, nz-year-picker, nz-range-picker, nz-week-picker {
  margin: 0 8px 12px 0;
}

.box {
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 200px;
  margin-top: 0px;
}