<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <nz-date-picker [(ngModel)]="datatimes" id="date" name="date" [nzAllowClear]='false' [nzFormat]="'dd-MM-yyyy'"
        [nzDisabledDate]="disabledDate" (ngModelChange)="DateChange($event,'clear')" nzPlaceHolder="เลือกวันที่จะทำการจอง"></nz-date-picker>
    </div>
    <div class="col-md">
      <p>ชื่อสาขา : {{branchName}}</p>
    </div>
    <label style="margin-left: 10px" nz-checkbox [(ngModel)]="Express" id="Express" name="Express" *ngIf="username.levelUsers==1">จองด่วน</label>
  </div>
  <div class="row">
    <div class="col-md">
      <form [formGroup]="validateForm" class="w-100 m-0">
        <div *ngFor="let control of listOfControl; let i = index">
          <br>
          <div class="card">
            <div class="card-body">
              <nz-form-item>
                <nz-form-label [nzSpan]="4" class="text-left">บริการ</nz-form-label>
                <nz-form-control [nzSpan]="20" nzErrorTip="Please input passenger's name or delete this field.">
                  <nz-select nzPlaceHolder="กรุณาเลือกบริการ" [nzDisabled]="serviceIsDisable[i]" [formControlName]="control.Service_id"
                    (nzOpenChange)="GetObjectData($event,i,'service')" [(ngModel)]="serviceName" >
                    <nz-option-group nzLabel="บริการทำผม">
                      <nz-option *ngFor="let data of HairList[i]" [nzValue]=data [nzLabel]="data.name"></nz-option>
                    </nz-option-group>
                    <nz-option-group nzLabel="บริการทำเล็บ">
                      <nz-option *ngFor="let data of NailList[i]" [nzValue]=data [nzLabel]="data.name"></nz-option>
                    </nz-option-group>
                    <nz-option-group nzLabel="บริการทำหน้า">
                      <nz-option *ngFor="let data of FaceList[i]" [nzValue]=data [nzLabel]="data.name"></nz-option>
                    </nz-option-group>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="4" class="text-left">ช่าง</nz-form-label>
                <nz-form-control [nzSpan]="20" nzErrorTip="Please input passenger's name or delete this field."
                  nzExtra="**กรณีไม่ต้องการเลือกช่าง ให้เลือกไม่ระบุช่าง">
                  <nz-select nzPlaceHolder="เลือกช่าง" name="usernameBarber" [nzDisabled]="barberIsDisable[i]" ngDefaultControl
                    [formControlName]="control.usernameBarber" (nzOpenChange)="GetObjectData($event,i,'barber')"
                    [(ngModel)]="barberName">
                    <nz-option nzValue="" nzLabel="*ไม่ระบุช่าง"></nz-option>
                    <nz-option *ngFor="let data of listBarber" [nzValue]="data" [nzLabel]="data.nickname">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSpan]="4" class="text-left">เวลา</nz-form-label>
                <nz-form-control [nzSpan]="8" nzErrorTip="Please input passenger's name or delete this field.">
                  <nz-select class="w-100" nzPlaceHolder="เลือกเวลา" [formControlName]="control.TimeStart"
                    [nzDisabled]="timeIsDisable[i]" (nzOpenChange)="GetObjectData($event,i,'time')"
                    [(ngModel)]="TimeStratModel">
                    <nz-option *ngFor="let item of timeBarber" nzValue="{{item.id}}" nzLabel="{{item.times}}">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
                <nz-form-label [nzSpan]="3" class="text-center">ถึง</nz-form-label>
                <div nz-col nzSpan="9" style="margin-top: 5px;">
                  <input nz-input class="w-100" disabled="'true'" [formControlName]="control.TimeEnd"
                    nzPlaceHolder="เวลาสิ้นสุด" [(ngModel)]="TimeEnd[i]" />
                </div>
              </nz-form-item>
              <div class="row">
                <div class="col">
                </div>
                <div class="col-5">
                  <nz-form-control class="w-100">
                    <button nz-button nzType="dashed" class="add-button text-center" style="margin: 0 20%;"
                      (click)="removeField(control, $event,i,'remove')"
                      *ngIf="deleteIsbutton[i]==false && listOfControl.length > 1" >
                      <i style="color: crimson;" nz-icon nzType="delete" nzTheme="outline"></i>
                    </button>
                  </nz-form-control>
                </div>
                <div class="col">
                  <nz-form-control class="w-100">
                    <button nz-button nzType="dashed" class="add-button text-center" style="margin: 0 20%;" (click)="LockButton(i)"  *ngIf="lockIsbutton[i]==false && TimeEnd[i]!=undefined">
                      <i  nz-icon nzType="lock" nzTheme="outline"></i>
                    </button>
                  </nz-form-control>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
      <div *ngIf="listOfControl.length != 3" class="w-100">
        <nz-form-control class="w-100">
          <button nz-button nzType="dashed" class="add-button text-center" style="margin: 0 20%;"
            (click)="addField($event)">
            <i nz-icon nzType="plus"></i>
            เพิ่ม
          </button>
        </nz-form-control>
      </div>
    </div>
  </div>
</div>