<h3>ประวัติการใช้บริการ</h3>
<hr>
<div nz-row>
  <div nz-col nzSpan="17" >

    <nz-table #HistroryListTable [nzData]="HistroryList" [nzBordered]="true">
      <thead>
        <tr>
            <th  colspan="4">
                <nz-date-picker [(ngModel)]="Shdate" [nzAllowClear]="false" nzPlaceHolder="ค้นหา" [nzFormat]="'dd-MM-yyyy'" (ngModelChange)="onChange($event)" style="margin-right: 10px" [nzAllowClear]='false'></nz-date-picker>
                <button nz-button nzType="dashed" (click)="GetHistoryList()">รีเซ็ต</button>
            </th>
        </tr>
        <tr>
          <th class="text-center">วันที่</th>
          <th class="text-center">ราคา</th>
          <th class="text-center">เวลาในการทำ</th>
          <th class="text-center">กิจกรรม</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of HistroryListTable.data">
          <td class="text-center"><span>{{ list.queue_dt | date:"dd-MM-yyyy" }}</span></td>
          <td class="text-center"><span>{{ list.total_money}} บาท</span></td>
          <td class="text-center"><span>{{ list.total_time }} ชั่วโมง</span></td>
          <td class="text-center">
            <button nz-button nzType="default" (click)="openModal(list)">รายละเอียด</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div nz-col nzSpan="6" style="margin-left: 50px">
    <nz-table #basicTable [nzData]="Pointdata"  [nzBordered]="true">
      <thead>
          <tr>
              <th class="text-center" colspan="2">แต้มสะสมของคุณ</th>
            </tr>
        <tr>
          <th class="text-center">บริการ</th>
          <th class="text-center">แต้ม</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td class="text-center"><span>{{data.service_id}}</span></td>
          <td class="text-center"><span>{{data.point_customer}}</span></td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
