.Ttext-overflow{
    overflow: hidden;
    text-overflow:'...?';
    /* text-align: center; */
}
.input {
    padding: 5px;
    width: 30%;
    margin-right: 10px;
  }
.icon{
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: transform 0.5s;
}
.icon:hover{
  transform: scale(1.3)
}
.icon-center{
  vertical-align: unset
}