<div class="container-fluid">
    <h3>ประวัติร้าน</h3>
    <div><button nz-button nzType="dashed" [routerLink]="[ '/../..']">ตัวอย่าง</button></div>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21"></div>
        <div nz-col nzSpan="3" style="text-align:right">
            <button nz-button nzType="default" (click)="openModal('new',{})">
                <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
            </button>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <nz-table #HomeListDataTable [nzData]="HomeListData" style="width: 100%" [nzBordered]="true"
            [nzLoading]="isLoading">
            <thead>
                <tr>
                    <th class="text-center">ลำดับ</th>
                    <th class="text-center">ประเภท</th>
                    <th class="text-center" nzWidth="20%">ข้อมูล</th>
                    <th class="text-center">สถานะ</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of HomeListDataTable.data">
                    <td class="text-center"> <span> {{list.about_id}}</span></td>
                    <td class="text-center" *ngIf="list.type === '0'" style="color: rgb(0, 132, 255)"><span>หัวข้อ</span></td>
                    <td class="text-center" *ngIf="list.type === '1'" style="color: rgb(0, 151, 13)"><span>ย่อหน้า</span></td>
                    <td class="text-center" *ngIf="list.type === '2'" style="color: rgb(190, 0, 63)"><span>รูปภาพ</span></td>
                    <td class="text-center" *ngIf="list.type === '0' || list.type === '1' ">
                        <div nz-popover [nzContent]="contentTemplate" nzPlacement="bottom"
                            style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                        <span>{{list.detail}}</span></div>
                            <ng-template #contentTemplate>
                                    <div>
                                      <span>{{list.detail}}</span>
                                    </div>
                                  </ng-template>
                    </td>
                    <td class="text-center" *ngIf="list.type === '2'">
                        <i nz-tooltip nzTitle="ดูรูปภาพ" nz-icon nzType="file-jpg" nzTheme="outline"
                            style="color:rgb(2, 5, 214)" (click)="ShowImg(list.detail)"></i>
                        <nz-modal nzClosable="false" [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()"
                            [nzFooter]=null nzClosable="true">
                            <img src="{{data}}" alt="Trulli" width="100%" height="100%">
                        </nz-modal>
                    </td>
                    <td [nzAlign]="'center'">
                        <div *ngIf="list.active === 'Y'">
                            <div class="icons-list">
                                <i nz-icon [type]="'check-circle'" [theme]="'twotone'" [twoToneColor]="'#52c41a'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                        <div *ngIf="list.active === 'N'">
                            <div class="icons-list">
                                <i nz-icon [type]="'close-circle'" [theme]="'twotone'" [twoToneColor]="'#f70c0c'"
                                    style="font-size: 24px;"></i>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon" style="color: green"
                            (click)="openModal('edit',list)" [theme]="'outline'"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'" (click)="DeleteListHome(list)"
                            [theme]="'twotone'" [twoToneColor]="'#f70c0c'"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>