<h3>อนุมัติคิว</h3>
<hr>
<div class="row" >
    <nz-table #QueueListTable [nzData]=" QueueList" style="width:100%" [nzBordered] ="true"  *ngIf="QueueList?.length!=0">
        <thead>
            <tr>
                <th class="text-center">ชื่อลูดค้า</th>
                <th class="text-center">เบอร์โทรศัพท์</th>
                <th class="text-center">วันที่</th>
                <th class="text-center">กิจกรรม</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of QueueListTable.data">
                <td class="text-center">{{list.firstname}} {{list.lastname}}</td>
                <td class="text-center">{{list.phone_number}}</td>
                <td class="text-center">{{list.queue_dt  | date:"dd-MM-yyyy"}}</td>
                <td class="text-center" *ngIf="list.answer == null">
                        <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                        (click)="openModal(list)"></i>&nbsp;
                </td>

            </tr>

        </tbody>
    </nz-table>
</div>