<form nz-form [formGroup]="Askform" (ngSubmit)="SendInformation()">
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>ชื่อ-นามสกุล</nz-form-label>
                <nz-form-control nzErrorTip="โปรดใส่ชื่อ-นามสกุล!">
                    <nz-input-group>
                        <input nz-input maxlength="30" placeholder="กรุณาใส่ชื่อของคุณ" formControlName="Name" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="email">อีเมล</nz-form-label>
                <nz-form-control nzErrorTip="โปรดใส่E-mail!">
                    <nz-input-group>
                        <input nz-input maxlength="30" placeholder="กรุณาใส่ E-mail ให้ถูกต้อง " formControlName="Email" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>เบอร์โทร</nz-form-label>
                <nz-form-control >
                    <nz-input-group>
                        <input nz-input  placeholder="กรุณาใส่เบอร์โทรของคุณ" maxlength="10"  formControlName="Phone" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>หัวข้อ</nz-form-label>
                <nz-form-control nzErrorTip="โปรดเลือกหัวข้อที่จะสอบถาม!">
                    <nz-input-group>
                        <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="กรุณาเลือกหัวข้อ"
                        formControlName="Title">
                            <nz-option nzLabel="ข่าวสาร" nzValue="ข่าวสาร"></nz-option>
                            <nz-option nzLabel="โปรโมชั่น" nzValue="โปรโมชั่น"></nz-option>
                            <nz-option nzLabel="บริการ" nzValue="บริการ"></nz-option>
                            <nz-option nzLabel="ช่างเสริมสวย" nzValue="ช่างเสริมสวย"></nz-option>
                            <nz-option nzLabel="คิว" nzValue="คิว"></nz-option>
                            <nz-option nzLabel="อื่นๆ" nzValue="อื่นๆ"></nz-option>
                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired>เรื่อง</nz-form-label>
                <nz-form-control nzErrorTip="โปรดใส่เรื่องที่จะถาม!">
                    <nz-input-group>
                        <input nz-input placeholder="เรื่องที่จะถาม"  maxlength="30" formControlName="Subject" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
        </div>
    </div>
    <div nz-row nzGutter="8">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired>รายละเอียด</nz-form-label>
                <nz-form-control nzErrorTip="โปรดใส่รายละเอียดในการถาม!">
                    <nz-input-group>
                        <textarea nz-input placeholder="กรุณาใส่รายละเอียด" maxlength="250" [nzAutosize]="{ minRows: 5, maxRows: 5}"
                        formControlName="Detail"></textarea>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div>
        <button nz-button class="login-form-button" [nzType]="'primary'">ส่งข้อมูลการสอบถาม</button>
    </div>
</form>