<div class="container-fluid">
    <h3>การลาหยุดของช่าง</h3>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21">
            <form nz-form (ngSubmit)="search()">
                <div class="row">
                    <div class="col-6 col-md-2">
                        <nz-select [(ngModel)]="NameBarber" name="NameBarber" id="NameBarber"
                            nzPlaceHolder="ชื่อช่างเสริมสวย">
                            <nz-option nzValue="" nzLabel="ทั้งหมด"></nz-option>
                            <nz-option *ngFor="let data of ShowListBarber" [nzValue]="data.username"
                                nzLabel="{{data.firstname}} {{data.lastname}}"></nz-option>
                        </nz-select>
                    </div>
                    <div class="col-6 col-md-2">
                        <nz-select [(ngModel)]="HolidayType" name="HolidayType" id="HolidayType"
                            nzPlaceHolder="ประเภทการลา">
                            <nz-option nzValue="" nzLabel="ทั้งหมด"></nz-option>
                            <nz-option *ngFor="let data of HolidayList" [nzValue]="data.leave_type_id"
                                [nzLabel]="data.vac_type"></nz-option>
                        </nz-select>
                    </div>
                    <div class="col-6 col-md-2"><button nz-button nzType="primary"><i class="icon-center" nz-icon
                                nzType="search"></i>ค้นหา</button></div>
                </div>
            </form>
        </div>
        <div nz-col nzSpan="3" style="text-align:right">
            <button nz-button nzType="default" (click)="openModal('new',{})">
                <i class="icon-center" nz-icon nzType="plus" nzTheme="outline"></i>เพิ่ม
            </button>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <nz-table #LeaveListDataTable [nzData]="LeaveListData" style="width: 100%" [nzBordered]="true"
            [nzLoading]="isLoading" *ngIf="LeaveListData?.length!=0">
            <thead>
                <tr>
                    <th class="text-center">ชื่อช่างเสริมสวย</th>
                    <th class="text-center">ประเภทการลา</th>
                    <th class="text-center">วันที่เริ่มลา</th>
                    <th class="text-center">วันสุดท้ายของการลา</th>
                    <th class="text-center">ลาทั้งหมด</th>
                    <th class="text-center" nzWidth="20%">รายละเอียด</th>
                    <th class="text-center">กิจกรรม</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of LeaveListDataTable.data">
                    <td class="text-center"><span>{{list.firstname}} {{list.lastname}}</span></td>
                    <td class="text-center"><span>{{list.vac_type}}</span></td>
                    <td class="text-center"><span>{{list.date_start | date:'dd-MM-yyyy'}}</span></td>
                    <td class="text-center"> <span>{{list.date_stop | date:'dd-MM-yyyy'}}</span></td>
                    <td class="text-center"><span>{{list.total_day}} วัน</span></td>
                    <td>
                        <div
                            style="white-space: nowrap; width: 300px; overflow: hidden;text-overflow: ellipsis;text-align: center ">
                        <span>{{list.detail}}</span></div>
                    </td>
                    <td class="text-center">
                        <i nz-icon nz-tooltip nzTitle="รายละเอียด" class="icon" nzType="file-text" nzTheme="twotone"
                            (click)="DetailFrom(list)"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="แก้ไข" [type]="'edit'" class="icon" style="color: green"
                            (click)="openModal('edit',list)" [theme]="'outline'"></i>&nbsp;
                        <i nz-icon nz-tooltip nzTitle="ลบ" class="icon" [type]="'delete'" (click)="deleteLeave(list)"
                            [theme]="'twotone'" [twoToneColor]="'#f70c0c'"></i>&nbsp;
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>