<nz-table #ShowListServiceTable [nzData]="ShowListServiceData" [nzPageSize]="8"
    style="overflow-y: auto;overflow-x: hidden" [nzLoading]="isLoading">
    <thead>
        <h3>บริการของร้าน</h3>
        <hr>
    </thead>
    <tbody>
        <nz-select style="width: 20%" [(ngModel)]="selectedValue" nzPlaceHolder="Choose"
            (ngModelChange)="Filter($event)">
            <nz-option nzValue="0" nzLabel="บริการทำผม"></nz-option>
            <nz-option nzValue="1" nzLabel="บริการทำเล็บ"></nz-option>
            <nz-option nzValue="2" nzLabel="บริการทำหน้า"></nz-option>
        </nz-select>
        <br><br>
        <div class="gallery" *ngFor="let list of ShowListServiceTable.data"
            [routerLink]="['../../ServiceDetail',list.name]">
            <a target="_blank">
                <div style="padding:5px 5px 0px 5px">
                    <img style="border-style: double;" width="338px" height="338px" src="{{list.img1}}">
                </div>
            </a>
            <div class="desc"><b>{{ list.name }}</b><br>
            </div>
        </div>

    </tbody>
</nz-table>