.gallery {
  margin: 20px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
}

.gallery:hover {
  opacity: 0.8;
  transform: scale(1.01);
}

.gallery img {
  width: 100%;
  height: 320px;
}

.desc {
  padding: 15px;
  text-align: center;
}