/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    font-family: 'Mitr', sans-serif;
}

p {
    font-size: 20px;
}

b {
    font-size: 25px;
}

h3 {
    font-size: 40px
}

span {
    font-size: 20px
}
a{
    font-size: 20px
}