<nz-table #Table [nzData]="listdata" [nzBordered]="true" [nzShowPagination]='false'>
        <thead>
          <tr>
                <th class="text-center">บริการ</th>
                <th class="text-center">ช่างผู้ให้บริการ</th>
                <th class="text-center">เวลา</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of Table.data">
                <td class="text-center">{{data.service_id}}</td>
                <td class="text-center">{{data.Nickname1}}</td>
                <td class="text-center">{{data.start_dt.substring(0,5)}}-{{data.finish_dt.substring(0,5)}}น.</td>
          </tr>
        </tbody>
      </nz-table>
