<form nz-form>
    <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name" ><span>รูปภาพ</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card"
            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 10" [nzShowUploadList]="showUploadList"
            [nzPreview]="handlePreview">
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">เพิ่มรูปภาพ</div>
        </nz-upload>
        <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
            (nzOnCancel)="previewVisible = false">
            <ng-template #modalContent>
                <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
        </nz-modal>
    </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name" nzRequired><span> ชื่อสาขา</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input nz-input name="name" id="name" maxlength="20" [(ngModel)]="name" placeholder="กรุณาใส่ชื่อสาขา">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="detail"nzRequired><span>เนื้อหา</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
            <textarea rows="4" nz-input name="detail" id="detail" maxlength="300" [(ngModel)]="detail" placeholder="เนื้อหา"></textarea>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="type" ><span>ผู้จัดการ</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="manager_name" name="manager_name" id=" manager_name"
                    nzPlaceHolder="เลือกผู้จัดการสาขา">
                    <nz-option *ngFor="let data of Managerlistdata" [nzValue]="data.username"
                        [nzLabel]="data.nickname"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6"nzRequired><span>สถานะร้าน</span></nz-form-label>
        <nz-form-control [nzSm]="14">
            <label nz-checkbox name="Status" [(ngModel)]="Status">
                <span>เปิดร้าน</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name"nzRequired><span>ที่อยู่</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input name="address" maxlength="30" id="address" [(ngModel)]="address" placeholder="ที่อยู่">
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="type"nzRequired><span>จังหวัด</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select nzShowSearch nzAllowClear [(ngModel)]="Province_id" name="Province_id" id=" Province_id"
                        nzPlaceHolder="จังหวัด" (ngModelChange)="ShowAmphur($event)">
                        <nz-option *ngFor="let data of ProvinceData" [nzValue]="data.province_id"
                            [nzLabel]="data.province_name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="type"nzRequired><span>อำเภอ</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select [nzDisabled]="DisabledAmphurData" nzShowSearch nzAllowClear [(ngModel)]="Amphur_id"
                        name="Amphur_id" id="Amphur_id" nzPlaceHolder="อำเภอ" (ngModelChange)="ShowDistrict($event)">
                        <nz-option *ngFor="let data of AmphurData" [nzValue]="data.amphur_id"
                            [nzLabel]="data.amphur_name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="type"nzRequired><span>ตำบล</span></nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <nz-select [nzDisabled]="DisabledDistrictData" nzShowSearch nzAllowClear [(ngModel)]="District_id"
                        name="District_id" id="District_id" nzPlaceHolder="ตำบล" (ngModelChange)="ShowZipcode($event)">
                        <nz-option *ngFor="let data of DistrictData" [nzValue]="data.district_id"
                            [nzLabel]="data.district_name"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="type"><span>รหัสไปรษณีย์</span></nz-form-label>
                <nz-form-control [nzSpan]="10">
                    <nz-select [nzDisabled]="DisabledZipcodeData" nzShowSearch nzAllowClear [(ngModel)]="Zipcode_id"
                        name="Zipcode_id" id="Zipcode_id" nzPlaceHolder="รหัสไปรษณีย์">
                        <nz-option *ngFor="let data of ZipcodeData" [nzValue]="data.zipcode_id"
                            [nzLabel]="data.zipcode"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name"><span>รูปแผนที่</span></nz-form-label>
        <nz-form-control [nzSpan]="14">
                <div nz-row>
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture-card"
                                    [(nzFileList)]="MAP" [nzShowButton]="MAP.length < 1"
                                    [nzShowUploadList]="showUploadListMap" [nzPreview]="handlePreviewMap">
                                    <i nz-icon nzType="plus"></i>
                                    <div class="ant-upload-text">แผนที่</div>
                                </nz-upload>
                                <nz-modal [nzVisible]="previewVisibleMap" [nzContent]="modalContentMAP" [nzFooter]="null"
                                    (nzOnCancel)="previewVisibleMap = false">
                                    <ng-template #modalContentMAP>
                                        <img [src]="previewImageMap" [ngStyle]="{ width: '100%' }" />
                                    </ng-template>
                                </nz-modal>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8"></div>
                    </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name"nzRequired><span>ลิ้งแผนที่</span></nz-form-label>
            <nz-form-control [nzSpan]="14">
                    <input nz-input name="location" id="location" [(ngModel)]="location" placeholder="location">
            </nz-form-control>
        </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6"nzRequired><span>สถานะ</span></nz-form-label>
        <nz-form-control [nzSm]="14">
            <label nz-checkbox name="ActiveCheckbox" [(ngModel)]="ActiveCheckbox">
                <span>แสดงข้อมูล</span>
            </label>
        </nz-form-control>
    </nz-form-item>
</form>