<div class="container-fluid">
    <h3>ช่างที่มาทำงาน</h3>
    <hr>
    <div class="row">
        <div nz-col nzSpan="21">
            <form (ngSubmit)="Listholidaybarber()">
                <div class="row">
                    <div class="col-6 col-md-2">
                        <nz-date-picker [nzFormat]="'dd-MM-yyyy'" name="criteriaDate" id="criteriaDate"
                            [(ngModel)]="criteriaDate" [nzDisabledDate]="disabledDate" [nzAllowClear]='false'>
                        </nz-date-picker>
                    </div>
                    <div class="col-6 col-md-2">
                        <nz-select  [(ngModel)]="Branch_id" id="Branch_id" name='Branch_id'
                            nzPlaceHolder="กรุณาเลือกสาขา">
                            <nz-option *ngFor="let data of BranchList" [nzValue]="data.branch_id" [nzLabel]="data.name">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div class="col-6 col-md-2"> <button nz-button nzType="primary" type="submit"><i class="icon-center"
                                nz-icon nzType="search"></i>ค้นหา</button></div>
                </div>
            </form>
        </div>
        <br>
        <br>
    </div>
    <div class="row">
        <nz-table #DataTable [nzData]="holidaydata" style="width: 100%"  *ngIf="check!=0">

            <thead>
                <tr>
                    <th class="text-center" style="width:20%">รูป</th>
                    <th class="text-center">ชื่อ-นามสกุล</th>
                    <th class="text-center">ชื่อเล่น</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of DataTable.data"  class="hover" [routerLink]="['../../BarberDetail',data.username]">
                    <td class="text-center"><img src="{{data.img_profile}}" height="250px" width="185px"></td>
                    <td class="text-center"><span>{{data.firstname}} {{data.lastname}}</span> </td>
                    <td class="text-center"><span>{{data.nickname}}</span></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>